@import "../../../styles/variables-saas";

.main-container {
  margin-bottom: 4.875rem;
  .experience-item-container {
    margin-bottom: 1.25rem;
    gap: 1.75rem;
    .experience-item {
      display: flex;
      flex-direction: column;
      padding-block: 0.813rem;
      padding-inline: 1rem;
      background-color: $white-smoke;
      .error {
        background-color: $error-50;
        margin-left: -2px;
        width: fit-content;
        .badge {
          background-color: $error-600;
        }
        span {
          color: $error-700;
          font-size: 0.75rem;
          font-family: $font-poppins-medium;
        }
      }
    }
  }
  .add-experience {
    padding-block: 0.75rem;
    
  }
}
