<ng-container *transloco="let t; scope: 'changePassword';">
<div class="container-fluid login-container-fluid ps-lg-0 overflow-hidden bg-white" [ngClass]="{'direction-change':translationService.isTranslate}">
    <div class="row main-container">
        <div class="d-flex flex-column align-items-center mx-auto my-5 my-lg-8 forgot-password w-xl-45 w-lg-50 w-md-85 w-100 px-3 px-md-4">
            <div class="d-flex align-items-center justify-content-center rounded-circle bg-alice-blue p-3 mb-4">
                <img height="21" width="21" src="assets/SVG/Iconkey.svg" alt="" />
            </div>
            <div class="d-flex flex-column fg-pass align-items-center">
                <h3 class="lh-38 font-poppins-semi mb-2">{{t('changePassword.forget-password')}}?</h3>
                <h6 class="mobile-text text-gray-600 text-nowrap mb-0">{{t('changePassword.reset-instruction-text')}}.</h6>
            </div>
            <form class="d-flex flex-column w-lg-100 w-md-75 w-sm-100 w-100 forgot-password-form" action="" [formGroup]="userForm">
                <div class="d-flex flex-column">
                    <p class="text-gray-700 font-poppins-medium">{{t('changePassword.email')}}</p>
                    <mat-form-field appearance="outline" class="w-100">
                        <input type="email" matInput [formControlName]="'email'" placeholder="{{t('changePassword.email-placeholder')}}" />
                    </mat-form-field>
                </div>
            </form>
            <button
                class="btn bg-midnight-moss text-white w-lg-100 w-md-75 w-sm-100 w-100 py-2 font-poppins-semi login-btns"
                (click)="PasswordReset()">
                {{t('changePassword.reset-password')}}
            </button>
            <div class="d-flex align-items-center gap-2" (click)="Back()">
                <img src="../assets/SVG/Iconback.svg" alt="">
                <p class="font-poppins-semi text-gray-600 mb-0">{{t('changePassword.back-login')}}</p>
            </div>
        </div>
    </div>
</div>
</ng-container>