<div class="d-flex flex-column align-items-center mx-auto my-5 my-lg-8 forgot-password w-xl-45 w-lg-50 w-md-85 w-100 px-2 px-sm-4 bg-white" [ngClass]="{'direction-change':translationService.isTranslate}">
    <div class="d-flex align-items-center justify-content-center rounded-circle bg-success-50 p-2">
        <div class="d-flex align-items-center justify-content-center rounded-circle bg-success-100 p-3">
            <img height="21" width="21" src="../assets/SVG/Iconsuccess.svg" alt="" />
        </div>
    </div>
    <div class="d-flex flex-column fg-pass align-items-center">
        <h3 class="lh-38 font-poppins-semi mb-2">Password reset</h3>
        <h6 class="mobile-text text-gray-600 text-center">
            Your password has been successfully reset.
        </h6>
        <h6 class="mobile-text text-gray-600 ">
            Click below to log in magically.
        </h6>
    </div>
    <button class="btn bg-midnight-moss text-white w-xl-85 w-md-90 w-100 py-2 font-poppins-semi login-btns" (click)="BackToLogin()">
        Back to login
        
    </button>
</div>