<ng-container *transloco="let t; scope: 'header';">
<nav class="navbar navbar-expand-lg bg-white py-0 border-0"
  [ngClass]="{'direction-change':isTranslate}"
>
  <div class="container-fluid justify-content-lg-start justify-content-between">
    <a class="navbar-brand" (click)="GoToJobs()">
      <img width="78px" src="assets/Images/SmallLogo 1.png" alt="" />
    </a>
    <div class="d-flex align-items-center justify-content-between w-lg-100">
      <div class="d-flex align-items-center order-lg-3 order-1">
        <div class="d-flex align-items-center gap-4" >
          <div class="profile-navigation" 
            [ngClass]="{'me-1' :!isLogin && !isTranslate,
                        'ms-1':isTranslate}">
            <div class="dropdown">
              <div id="dropdown-language" class="d-flex align-items-center gap-1" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img height="20" src="assets/SVG/globe-grid-svgrepo-com.svg" /><span>{{selectedLanguage}}</span><img width="20"
                  src="assets/SVG/chevron-down.svg" alt="expand-down" />
                <ul class="dropdown-menu min_w-fit" aria-labelledby ="dropdown-language">
                  <li><a class="dropdown-item" (click)="Change('en')">English</a></li>
                  <li>
                    <a class="dropdown-item"  (click)="Change('nl')">Arabic - العربية</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div *ngIf="isLogin" class="gap-4 d-flex align-items-center">
          <div id="dropdown-notification" class="notification" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img width="20px" src="assets/SVG/notification.svg" alt="notification" />
            <div class="notification-counter">02</div>
            <div class="notification-menu dropdown-menu" aria-labelledby ="dropdown-notification">
              <app-notification-modal></app-notification-modal>
            </div>
          </div>
          <div class="d-flex align-items-center profile-navigation gap-2">
            <div class="profile">
              <!-- <img src="assets/Images/Profile.png" alt="" /> -->
              <img *ngIf="this.imagePathOrBase64 == undefined" src="{{this.linkedInServive.userInfo != undefined ? this.linkedInServive.userInfo.picture : userImage}}" alt="" />
              <img *ngIf="this.imagePathOrBase64 != undefined" [src]="imagePathOrBase64" alt="" />
            </div>
            <div class="dropdown">
              <div class="d-flex align-items-center gap-1" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span>{{ userName }}</span><img width="20" src="assets/SVG/chevron-down.svg" alt="expand-down" />
                <ul class="dropdown-menu  dropdown-menu-right min_w-fit">
                  <li>
                    <a class="dropdown-item"  (click)="OpenProfile()"> {{t('header.profile')}}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="LogOut()"> {{t('header.logout')}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div *ngIf="!isLogin">
          <button type="button" class="btn bg-midnight-moss text-white rounded-3 login-btn w-100 w-lg-auto"
            (click)="Login()">
            {{t('header.login')}}
          </button>
        </div>
      </div>
      <button class="navbar-toggler border-0 order-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <img src="assets/SVG/Icontoggle.svg" width="18" height="12" alt="" />
      </button>
      <div class="offcanvas offcanvas-end order-lg-1 order-2" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button id="offcanvasNavbarLabel" type="button" class="btn-close btn-close-dark ms-auto"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div
          class="offcanvas-body d-flex justify-content-lg-between flex-column gap-3 gap-lg-0 flex-lg-row align-items-lg-center">
          <ul class="navbar-nav px-2 gap-4">
            <li class="nav-item">
              <div class="nav-link d-flex align-items-center align-content-center active px-2 gap-1"
                aria-current="page">
                <img height="15" width="15" src="assets/SVG/home.svg" alt="" />
                <p class="text-midnight-moss font-poppins-semi mb-0">{{t('header.home')}}</p>
              </div>
            </li>
            <li class="nav-item" *ngIf="isLogin">
              <div class="nav-link d-flex align-items-center align-content-center px-2 gap-1" aria-current="page"
                (click)="SavedJobs()">
                <img height="15" width="15" src="assets/SVG/ic_Dashboard Copy.svg" alt="" />
                <p class="text-midnight-moss font-poppins-semi mb-0">
                  {{t('header.saved-jobs')}}
                </p>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link d-flex align-items-center align-content-center px-2 gap-1" aria-current="page"
                (click)="GoToJobs()">
                <img height="15" width="15" src="assets/SVG/search.svg" alt="" />
                <p class="text-midnight-moss font-poppins-semi mb-0">
                  {{t('header.job-search')}}
                </p>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
</ng-container>