<div class="main-container">
  <div class="sign-up-info-div">
    <form class="row" action="">
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Name of Description</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Country</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select >
            <mat-option value="pakistan">Pakistan</mat-option>
            <mat-option value="india">India</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>City</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select >
            <mat-option value="lahore">Lahore</mat-option>
            <mat-option value="karachi">Karachi</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Street</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Zip/Postal Code</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select >
            <mat-option value="0514">0514</mat-option>
            <mat-option value="8574">8574</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Post Box</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>