<div class="container-fluid">
  <div class="d-flex align-items-center gap-2 px-0 back-button cursor-pointer" (click)="GoBack()">
    <img src="assets/SVG/Iconback.svg" alt="" />
    <p class="font-poppins-semi text-gray-600 mb-0">Back</p>
  </div>
  <div class="row mx-0" *ngFor="let duration of this.durationGroups; index as g">
    <h2>{{getEnumKeyByEnumValue(duration.ActivityDuration)}}</h2>
    <br />
    <ul class="stepper px-0 col-xxl-3 col-lg-4 col-12">
      <li *ngFor="let tasks of duration.applicantOnboardingTasks; index as i">
        <div class="stepper-progression active rounded-circle border border-color-midnight-moss"
          [ngClass]="{ 'completed': tasks.Completed, 'active': tasks.Active, 'last-step':i==duration.applicantOnboardingTasks.length-1}">
          <img *ngIf="tasks.Completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="!tasks.Completed" class="bg-midnight-moss rounded-circle"></p>
        </div>
        <div class="stepper-items cursor-pointer" (click)="GoToTab(g, i)">
          <img src="assets/SVG/fingerprint.svg" alt="" />
          <p class="text-nowrap">{{tasks.taskName}}</p>
        </div>
      </li>
    </ul>

    <ng-container *ngFor="let tasks of duration.applicantOnboardingTasks; index as i">
    <div class="col-xxl-9 col-lg-8 col-12 sign-up-sections" *ngIf="tasks.Active || (tasks.CareerPageTaskStatus == 2 && tasks.Active) || (tasks.CareerPageTaskStatus == 1 && tasks.Active) || (tasks.CareerPageTaskStatus == 3 && tasks.Active) || (tasks.CareerPageTaskStatus == 4 && tasks.Active)" >
      <app-careerPageTaskBasic [taskName]="tasks.taskName" [taskDescription]="tasks.description" *ngIf="tasks.Active"></app-careerPageTaskBasic>
      <app-education [isOnboarding]="true" *ngIf="tasks.CareerPageTaskStatus == 2 && tasks.Active"></app-education>
      <app-identification [isOnboarding]="true" *ngIf="tasks.CareerPageTaskStatus == 1 && tasks.Active"></app-identification>
      <app-certificates [isOnboarding]="true" *ngIf="tasks.CareerPageTaskStatus == 3 && tasks.Active"></app-certificates>
      <app-experience [isOnboarding]="true" *ngIf="tasks.CareerPageTaskStatus == 4 && tasks.Active"></app-experience>
    </div>
  </ng-container>
    <div class="d-flex align-items-center justify-content-end w-100 gap-3 action-btns">
      <button type="button"
        class="btn border border-color-gainsboro text-midnight-moss rounded font-poppins-medium fs-8 py-2 px-3 bg-white"
        (click)="Discard()">
        Discard
      </button>
      <button type="button"
        class="btn border border-color-gainsboro text-midnight-moss rounded font-poppins-medium fs-8 py-2 px-3 bg-white" (click)="Back(duration.ActivityDuration)">
        Back
      </button>
      <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5"
        (click)="Next(duration.ActivityDuration)">
        Next
      </button>
    </div>
  </div>
</div>