<ng-container *transloco="let t; scope: 'jobOffer';">
  <div class="container-fluid"
       [ngClass]="{'direction-change' : translationService.isTranslate}">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-2 px-0 back-button cursor-pointer"
           (click)="GoBack()">
        <img src="assets/SVG/Iconback.svg"
             alt="" />
        <p class="font-poppins-semi text-gray-600 mb-0">{{t('jobOffer.back')}}</p>
      </div>
      
      <div class="d-flex justify-content-end gap-3 btns-container" *ngIf="jobOfferAction?.isClaim">
        <button type="button"
                class="btn text-white bg-error-600 rounded font-poppins-semi fs-8 w-auto"
                (click)="ClaimOffer('Accept')">
          <!-- {{t('jobOffer.reject-offer')}} -->
          {{jobOfferAction?.outcome2}}
        </button>
      </div>
      <div class="d-flex justify-content-end gap-3 btns-container" *ngIf="jobOfferAction?.showButton">
        <button type="button"
                class="btn text-white bg-error-600 rounded font-poppins-semi fs-8 w-auto"
                (click)="RejectOfferComment(jobOfferAction?.outcome2)">
          <!-- {{t('jobOffer.reject-offer')}} -->
          {{jobOfferAction?.outcome2}}
        </button>
        <button type="button"
                class="btn text-white bg-pastel-green-dark rounded font-poppins-semi fs-8 w-auto"
                (click)="acceptOfferComment(jobOfferAction?.outcome1)">
          <!-- {{t('jobOffer.accept-offer')}} -->
          {{jobOfferAction?.outcome1}}
        </button>
      </div>
    </div>
    <div class="d-flex error align-items-center gap-1 badge rounded-pill p-1">
      <!-- <span class="badge rounded-pill text-white">{{t('jobOffer.warning')}}</span>
      <span class="text-wrap">{{t('jobOffer.warning-text')}}
      </span> -->
    </div>
    <div class="offer-types">
      <mat-accordion multi="true">
        <mat-expansion-panel class="basic-information" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="heading py-2">
                <img src="assets/SVG/list.svg"
                     alt="list-icon" />
                <h5>{{t('jobOffer.basic-information')}}</h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row m-0 offer-info">
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.date')}}</p>
              <h6>{{basicInfo?.offerDate | date : 'd/M/y'}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.offer-validity-days')}}</p>
              <h6>{{basicInfo?.offerValidity }}</h6>
            </div>
            
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.candidate')}}</p>
              <h6>{{basicInfo?.candicateName}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.nationality')}}</p>
              <h6>{{basicInfo?.nationality}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.department')}}</p>
              <h6>{{basicInfo?.department}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.position')}}</p>
              <h6 *ngIf="basicInfo?.positionName">{{basicInfo?.positionName}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.location')}}</p>
              <h6>{{basicInfo?.location}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.phone')}}</p>
              <h6>{{basicInfo?.applicantPhone}}</h6>
            </div>
            
            <!-- <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.offer-date')}}</p>
              <h6>{{basicInfo?.offerDate | date : 'd/M/y'}}</h6>
            </div> -->
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="finance-information" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="heading py-2">
                <img src="assets/SVG/coins-stacked.svg"
                     alt="coins-stacked" />
                     <h5>{{t('jobOffer.benefits')}}</h5>
                    </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row m-0 offer-info">
            <div class="offer-detail col-lg-3 col-md-4 col-6"
                 *ngFor="let financing of finaceInfo?.parmApplicationFinanceInfoList">
              <p *ngIf="!translationService.isTranslate">{{financing?.description}}</p>
              <p *ngIf="translationService.isTranslate">{{financing?.descriptionAr}}</p>
              <h6 *ngIf="financing.Amount === 0">{{financing?.CalculatedAmount | number: '1.2-2'}} SAR</h6>
              <h6 *ngIf="financing.Amount !== 0">{{financing?.Amount | number: '1.2-2'}} SAR</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.total-salary')}}</p>
              <h6>{{basicInfo?.netSalary}}</h6>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="benefits" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="heading py-2">
                <img src="assets/SVG/benefits.svg"
                     alt="benefits-icon" />
                <h5>{{t('jobOffer.finance-information')}}</h5>

              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="offer-info row m-0">
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.vacation-days')}}</p>
              <h6>{{benefits?.vactionDays}}</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.medical-insurance')}}</p>
              <h6>Provided Per Company Policy</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.contract-period')}}</p>
              <h6>{{benefits?.contractPeriod}} year</h6>
            </div>
            <div class="offer-detail col-lg-3 col-md-4 col-6">
              <p class="font-poppins-regular">{{t('jobOffer.probabtion-period')}}</p>
              <h6 *ngIf="benefits?.probationPeriod > 0">{{benefits?.probationPeriod}} months</h6>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ng-container>