<ng-container *transloco="let t; scope: 'competencies';">
  <form class="row"
        action=""
        [formGroup]="skillForm">
    <div class="d-flex flex-column col-lg-6 col-12">
      <p>{{t('competencies.skill')}}*</p>
      <mat-form-field appearance="outline"
                      class="w-100">
        <mat-select name='skillId'
                    [formControlName]="'SkillID'">
          <mat-option *ngFor="let skill of skillList"
                      [value]="skill.value">{{skill.name}}</mat-option>
        </mat-select>
        <img matSuffix
             src="assets/SVG/chevron-down.svg"
             alt="" />
        <mat-error class="error-message"
                   *ngIf="f.SkillID.hasError('required') && (f.SkillID.dirty || f.SkillID.touched)">Skill is
          Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-lg-6 col-12">
      <p>{{t('competencies.skill-level')}}*</p>
      <mat-form-field appearance="outline"
                      class="w-100">
        <mat-select name='level'
                    [formControlName]="'RatingLevel'">
          <mat-option *ngFor="let level of skillLevel"
                      [value]="level.value">{{level.name}}</mat-option>
        </mat-select>
        <mat-error class="error-message"
                   *ngIf="f.RatingLevel.hasError('required') && (f.RatingLevel.dirty || f.RatingLevel.touched)">Skill
          Level is Required</mat-error>
        <img matSuffix
             src="assets/SVG/chevron-down.svg"
             alt="" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-lg-6 col-12">
      <p>{{t('competencies.level-date')}}*</p>
      <mat-form-field appearance="outline"
                      class="w-100">
        <input matInput
               [matDatepicker]="picker"
               name='ratingLevelDate'
               [formControlName]="'RatingLevelDate'"
               dateInput
               placeholder="dd/mm/yyyy">
        <mat-datepicker-toggle matIconSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error class="error-message"
                   *ngIf="f.RatingLevelDate.hasError('required') && (f.RatingLevelDate.dirty || f.RatingLevelDate.touched)">Date
          is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-lg-6 col-12">
      <p>{{t('competencies.year-of-experience')}}*</p>
      <mat-form-field appearance="outline"
                      class="w-100">
        <input matInput
               name='experience'
               [formControlName]="'Experience'" />
        <mat-error class="error-message"
                   *ngIf="f.Experience.hasError('required') && (f.Experience.dirty || f.Experience.touched)">Experience
          is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="cv-div">
      <p class="text-midnight-moss font-poppins-bold">{{t('competencies.attachment')}}</p>
      <div class="upload-file">
        <input type="file"
               (change)="onFileUpload($event)"><img src="assets/SVG/upload.svg"
             alt="">
        <p class="upload-text"><span>{{t('competencies.upload-text')}} </span>{{t('competencies.drag-drop')}}</p>
        <span>PDF or DOC (max. size 6MB)</span>
      </div>
      <div *ngIf="fileList.length > 0"
           class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3">
        <div class="uploaded-files col-xl-6 col-lg-12 col-md-6 col-12 d-flex align-items-center mb-2"
             *ngFor="let file of fileList; let i = index">
          <div class="file-details rounded">
            <div class="d-flex align-items-center gap-2">
              <div class="file-icon">
                <img src="assets/SVG/pdf-icon.svg"
                     *ngIf="file[i].name.substring(file[i].name.lastIndexOf('.') + 1, file[i].name.length) == 'pdf'"
                     alt=""
                     (click)="DeleteFile(i)" />
                <img src="assets/SVG/doc-icon.svg"
                     *ngIf="file[i].name.substring(file[i].name.lastIndexOf('.') + 1, file[i].name.length) != 'pdf'"
                     alt=""
                     (click)="DeleteFile(i)" />
              </div>
              <div class="file-name-type">
                <span class="file-name">{{file[i].name}}</span>
                <h6 class="file-type font-poppins-bold"
                    *ngIf="file[i].name.substring(file[i].name.lastIndexOf('.') + 1, file[i].name.length) == 'pdf'">PDF
                </h6>
                <h6 class="file-type font-poppins-bold"
                    *ngIf="file[i].name.substring(file[i].name.lastIndexOf('.') + 1, file[i].name.length) != 'pdf'">Word
                </h6>
              </div>
            </div>
            <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
              <img height="20"
                   src="assets/SVG/delete.svg" (click)="DeleteFile(i)"
                   alt="" />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.fileFromAttachments != ''">
        <div class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3">
          <div class="uploaded-files col-xl-6 col-lg-12 col-md-6 col-12 d-flex align-items-center mb-2">
            <div class="file-details rounded">
              <div class="d-flex align-items-center gap-2" (click)="DownloadFile()">
                <div class="file-icon">
                  <img src="assets/SVG/pdf-icon.svg"
                      *ngIf="fileFromAttachments.substring(fileFromAttachments.lastIndexOf('.') + 1, fileFromAttachments.length) == 'pdf'"
                      alt="" />
                  <img src="assets/SVG/doc-icon.svg"
                      *ngIf="fileFromAttachments.substring(fileFromAttachments.lastIndexOf('.') + 1, fileFromAttachments.length) != 'pdf'"
                      alt="" />
                </div>
                <div class="file-name-type">
                  <span class="file-name">{{fileFromAttachments.substring(fileFromAttachments.lastIndexOf('/') + 1, fileFromAttachments.lastIndexOf('.'))}}</span>
                  <h6 class="file-type font-poppins-bold"
                      *ngIf="fileFromAttachments.substring(fileFromAttachments.lastIndexOf('.') + 1, fileFromAttachments.length) == 'pdf'">PDF
                  </h6>
                  <h6 class="file-type font-poppins-bold"
                      *ngIf="fileFromAttachments.substring(fileFromAttachments.lastIndexOf('.') + 1, fileFromAttachments.length) != 'pdf'">Word
                  </h6>
                </div>
                <img src="assets/SVG/download-minimalistic-svgrepo-com.svg" height="20" class="cursor-pointer" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns">
      <button type="button"
              class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
              [ngClass]="{'order-1': isTranslate}"
              (click)="Discard()">
        {{t('competencies.discard')}}
      </button>
      <button type="button"
              class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8 text-nowrap"
              [ngClass]="{'order-2': isTranslate}"
              (click)="CloseSideNav()">
        {{t('competencies.close')}}
      </button>
      <button type="button"
              class="btn text-white bg-midnight-moss rounded font-poppins-semi"
              (click)="SaveSkill()">
        {{t('competencies.save')}}
      </button>
      <button type="button"
              class="btn text-white bg-midnight-moss rounded font-poppins-semi"
              (click)="SaveSkill()">
        Save add New
      </button>
    </div>
  </form>
</ng-container>