@import "../../../../styles/variables-saas";

.main-container {
  .position-item-container {
    margin-bottom: 1.25rem;
    gap: 1.75rem;
    .position-item {
      display: flex;
      flex-direction: column;
      padding-block: 0.813rem;
      padding-inline: 1rem;
      background-color: $white-smoke;
      .error {
        background-color: $error-50;
        margin-left: -2px;
        width: fit-content;
        .badge {
          background-color: $error-600;
        }
        span {
          color: $error-700;
          font-size: 0.75rem;
          font-family: $font-poppins-medium;
        }
      }
    }
  }
  .add-position {
    padding-block: 0.75rem;
  }

  .new-hover {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    &:hover {
      box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
      transform: scale(1.2);
    }
  }
  .new-button {
    height: 46px;
  }
}
