<ng-container *transloco="let t; scope: 'basicInfo';">

<div class="container-fluid"
  [ngClass]="{'direction-change' : isTranslate}"
>
  <div class="d-flex align-items-center gap-2 px-0 back-button cursor-pointer" (click)="GoBack()">
    <img src="assets/SVG/Iconback.svg" alt="" />
    <p class="font-poppins-semi text-gray-600 mb-0">{{t('basicInfo.back')}}</p>
  </div>
  <div class="row mx-0">
    <ul class="stepper px-0 col-xxl-3 col-lg-4 col-12">
      <li>
        <div class="stepper-progression active rounded-circle border border-color-midnight-moss"
          [ngClass]="{ 'completed': basicCompleted, 'active': isBasicActive }">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="!completed" class="bg-midnight-moss rounded-circle"></p>
        </div>
        <div class="stepper-items" (click)="GoToTab(1)">
          <p>{{t('basicInfo.basic-info')}}</p>
          <p class="text-nowrap">{{t('basicInfo.basic-info-text')}}</p>
        </div>
      </li>
      <li>
        <div class="stepper-progression rounded-circle border border-color-midnight-moss"
          [ngClass]="{ 'completed': contactCompleted, 'active': isContactActive }">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="!completed" class="bg-midnight-moss rounded-circle"></p>
        </div>
        <div class="stepper-items" (click)="GoToTab(2)">
          <p>{{t('basicInfo.contact')}}</p>
          <p>{{t('basicInfo.contact-info')}}</p>
        </div>
      </li>
      <li>
        <div class="stepper-progression rounded-circle border border-color-midnight-moss"
          [ngClass]="{ 'completed': addressCompleted, 'active': isAddressActive }">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="!completed" class="bg-midnight-moss rounded-circle"></p>
        </div>
        <div class="stepper-items" (click)="GoToTab(3)">
          <p>{{t('basicInfo.address')}}</p>
          <p>{{t('basicInfo.address-info')}}</p>
        </div>
      </li>
      <li>
        <div class="stepper-progression rounded-circle border border-color-midnight-moss last-step"
          [ngClass]="{ 'completed': identificationCompleted, 'active': isIdentificationActive }">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="!completed" class="bg-midnight-moss rounded-circle"></p>
        </div>
        <div class="stepper-items" (click)="GoToTab(4)">
          <p>{{t('basicInfo.identification')}}</p>
          <p>{{t('basicInfo.identification-info')}}</p>
        </div>
      </li>
    </ul>

    <div class="col-xxl-9 col-lg-8 col-12 pb-5 sign-up-sections">
      <h4 class="font-poppins-bold text-midnight-moss">{{t('basicInfo.profile')}}</h4>
      <app-add-edit-basicinformation *ngIf="index === 1"></app-add-edit-basicinformation>
      <app-contact-info *ngIf="index === 2"></app-contact-info>
      <app-address *ngIf="index === 3"></app-address>
      <app-identification *ngIf="index === 4"></app-identification>
      <div class="d-flex align-items-center justify-content-end w-100 gap-3 action-btns">
        <button type="button"
          class="btn border border-color-gainsboro text-midnight-moss rounded bg-white font-poppins-medium fs-8 py-2 px-3"
          [ngClass]="{'order-1': isTranslate}"
          >
          {{t('basicInfo.discard')}}
        </button>
        <button type="button"
          class="btn border border-color-gainsboro text-midnight-moss rounded bg-white font-poppins-medium fs-8 py-2 px-3"
          [ngClass]="{'order-2': isTranslate}"
          (click)="Back(index)">
          {{t('basicInfo.back')}}
        </button>
        <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5"
          
          (click)="Next()">
          {{t('basicInfo.next')}}
        </button>
      </div>
    </div>
  </div>
</div>
</ng-container>