<div class="d-flex d-lg-none align-items-center gap-2 px-0 cursor-pointer" (click)="Back()" *ngIf="show">
    <img src="assets/SVG/Iconback.svg" alt="">
    <p class="font-poppins-semi text-gray-600 mb-0">Back</p>
</div>
<div>
    <div class="info-detail d-flex flex-column align-items-start light-border border-radius-8 px-lg-4 px-2 pt-4 bg-white position-relative"
        *ngIf="selectedJob.jobId">
        <div class="d-flex align-items-center justify-content-between w-100 mb-2">
            <h4 class="mb-0">{{selectedJob.Title}}</h4>
            <div class="d-lg-flex d-none align-items-center header-icons gap-2">
                <div class="p-1">
                    <img height="34px" src="assets/SVG/Saved.svg" alt="saved" class="cursor-pointer purple-filter" />
                </div>
                <div class="p-1">
                    <img height="34px" src="assets/SVG/Share.svg" alt="search" class="cursor-pointer purple-filter" />
                </div>
            </div>
        </div>
        <div class="job-location-detail">
            <p class="text-midnight-moss-50 mb-0">{{selectedJob.location}}</p>
        </div>
        <span class="text-shuttle-grey mb-lg-3">{{selectedJob.postedDate}}</span>
        <div class="d-flex d-lg-none align-items-center header-icons gap-2 mb-3">
            <img height="34px" src="assets/SVG/Saved.svg" alt="saved" class="cursor-pointer" />
            <img height="34px" src="assets/SVG/Share.svg" alt="search" class="cursor-pointer" />
        </div>
        <h5>Overview</h5>
        <div class="job-detail-text text-start">
            <p>
                {{selectedJob.Overview}}
            </p>
        </div>
        <div class="d-lg-flex d-none align-items-center gap-3 application-buttons mb-3">
            <button type="button" class="btn rounded-3 text-secondary" (click)="SignUpModal()">
                Sign Up
            </button>

            <button type="button" class="btn bg-midnight-moss text-white rounded-3" (click)="OpenSidenav()">
                Quick Apply
            </button>
        </div>
        <h5 class="mt-4">Skills</h5>
        <div class="d-flex align-items-center gap-2 skills flex-wrap">
            <p class="d-flex align-items-center justify-content-center py-2 px-3"
                *ngFor="let skills of selectedJob?.Skills?.parmRecruitmentSkillsList">
                {{skills.Skill}}
            </p>
        </div>
        <div class="row m-0 d-flex align-items-center mb-3 job-benefits w-100">
            <div
                class="d-flex flex-column align-items-start rounded-lg-start border-2 border border-white col-lg-3 col-6">
                <p class="text-shuttle-grey">Experience</p>
                <h6 class="mb-0 text-midnight-moss font-poppins-medium">
                    {{selectedJob.ExperienceYears}}
                </h6>
            </div>
            <div class="d-flex flex-column align-items-start border-2 border border-white col-lg-3 col-6">
                <p class="text-shuttle-grey">Work Level</p>
                <h6 class="mb-0 text-midnight-moss font-poppins-medium">
                    {{selectedJob.WorkLevel}}
                </h6>
            </div>
            <div class="d-flex flex-column align-items-start border-2 border border-white col-lg-3 col-6">
                <p class="text-shuttle-grey">Job Type</p>
                <h6 class="mb-0 text-midnight-moss font-poppins-medium">
                    {{selectedJob.jobType}}
                </h6>
            </div>
            <div
                class="d-flex flex-column align-items-start border-2 border border-white rounded-lg-end col-lg-3 col-6">
                <p class="text-shuttle-grey">Offer Salary</p>
                <h6 class="mb-0 text-midnight-moss font-poppins-medium">
                    {{selectedJob.MonthlySalary}}
                </h6>
            </div>
        </div>
        <h5 class="mt-4">What you'll be working on</h5>
        <span class="text-shuttle-grey">This is the job for you if:</span>
        <ul class="mb-4">
            <div [innerHTML]="selectedJob.JobAd"></div>
            <!-- <li *ngFor="let responsibility of selectedJob.responsibilities">
                {{responsibility}}
            </li> -->
        </ul>
        <!-- <span class="text-shuttle-grey">The day to day:</span>
        <ul class="mb-0">
            <li *ngFor="let dailyResobility of selectedJob.dayToDay">
                {{dailyResobility}}
            </li>
        </ul> -->
        <!-- <span class="text-shuttle-grey">Interaction with the team:</span>
        <ul class="mb-3">
            <li *ngFor="let interaction of selectedJob.interactionWithTeam">
                {{interaction}}
            </li>
        </ul> -->
        <span class="text-shuttle-grey">Tech skills needed:</span>
        <ul class="mb-lg-0 mb-4">
            <li *ngFor="let techskills of selectedJob.techSkillsNeeded">{{techskills}}</li>
        </ul>
        <div class="info-detail-footer position-absolute bottom-0 border-lg-top pt-4 pb-3">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <h5 class=" ">Are you interested in this Job?</h5>
                <div class="d-flex align-items-center gap-3 application-buttons">
                    <button type="button" class="btn rounded-3 text-secondary" (click)="SignUpModal()">
                        Sign Up
                    </button>

                    <button type="button" class="btn bg-midnight-moss text-white rounded-3" (click)="OpenSidenav()">
                        Quick Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column w-100 no-info light-border border-radius-8 px-4 pt-4 bg-white"
        *ngIf="!selectedJob.jobId">
        <img height="185px" src="assets/SVG/illustration.svg" alt="" />
        <h6 class="text-black">Select a job to see it’s details</h6>
    </div>
</div>

<div class="sidenav p-xxl-5 p-md-4 p-3 bg-white w-xl-45 w-lg-50 w-md-75 w-100 text-start"
    [ngClass]="sidenavOpen ? 'open' : 'close'">
    <span class="heading">Quick Apply</span>
    <app-quick-apply *ngIf="sidenavOpen"></app-quick-apply>
    <div class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns">
        <button type="button" class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
            (click)="CloseSidenav()">
            Cancel
        </button>
        <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8"
            (click)="CloseSidenav()">
            Apply now
        </button>
    </div>
</div>