<ng-container *transloco="let t; scope: 'login';">
<div class="container-fluid login-container-fluid ps-lg-0 overflow-hidden bg-white">
  <div class="row main-container mb-0">
    <div class="col-8 left-container d-none d-lg-block"></div>
    <div
      class="d-flex flex-column align-items-start justify-content-center col-lg-4 col-sm-12 px-xl-4rem px-lg-4 px-4 login-container py-5 h-lg-100vh"
        [ngClass]="{'direction-change' : isTranslate}"
      >
      <img class="mb-4" height="35" width="96" src="assets/Images/SmallLogo 1.png" alt="Section" />
      <!-- <img class="mb-4" height="35" width="96" src="assets/Images/SmallLogo 1.png" alt="Section" /> -->
      <div class="login-text">
        <h3 class="lh-38 font-poppins-semi mb-1 mb-lg-4 text-midnight-moss">
          {{t('login.login')}}

        </h3>
        <span class="fs-7 mobile-text d-lg-none text-gray-600">Welcome back! Please enter your details.</span>
      </div>
      <form class="d-flex flex-column w-100 mb-2" action="" [formGroup]="loginForm">
        <div class="d-flex flex-column">
          <p class="text-midnight-moss font-poppins-medium d-lg-block d-none">
            {{t('login.email')}}*
          </p>
          <p class="text-midnight-moss font-poppins-medium d-lg-none">{{t('login.email')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <input type="email" matInput placeholder = "{{t('login.email-placeholder')}}" [formControlName]="'email'" [class.is-invalid]="
                f.email.invalid && (f.email.dirty || f.email.touched)
              " />
            <mat-error class="error-message" *ngIf="
                f.email.hasError('required') &&
                (f.email.dirty || f.email.touched)
              ">Email is Required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column">
          <p class="text-midnight-moss font-poppins-medium d-lg-block d-none">
            {{t('login.password')}}*
          </p>
          <p class="text-midnight-moss font-poppins-medium d-lg-none">
            {{t('login.password')}}
          </p>
          <mat-form-field appearance="outline" class="w-100">
            <input type="{{password}}" matInput placeholder="{{t('login.password-placeholder')}}" [formControlName]="'password'"
              [class.is-invalid]="
                f.password.invalid && (f.password.dirty || f.password.touched)
              " />
              <div class="view-password cursor-pointer" [ngClass]="{'viewing-password': isViewingPassword}" matSuffix (click)="ViewPassword()">
                <mat-icon>visibility</mat-icon>
              </div>
            <mat-error class="error-message" *ngIf="
                f.password.hasError('required') &&
                (f.password.dirty || f.password.touched)
              ">Password is Required</mat-error>
          </mat-form-field>
        </div>
      </form>
      <form class="d-flex flex-column w-100 mb-2" action="" [formGroup]="otpForm" *ngIf="showOtp">
        <div class="d-flex flex-column" >
          <p class="text-midnight-moss font-poppins-medium d-lg-block d-none">
            {{t('login.otp')}}*
          </p>
          <p class="text-midnight-moss font-poppins-medium d-lg-none">
            {{t('login.otp')}}
          </p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Enter your received OTP"  [formControlName]="'otp'" />
            <mat-error class="error-message" *ngIf="
            otpForm.controls.otp.hasError('required') &&
            (otpForm.controls.otp.dirty || otpForm.controls.otp.touched)">Otp is Required</mat-error>
          </mat-form-field>
          <div class="d-flex align-items-center justify-content-between " *ngIf="this.otpEntered">
            <p class="text-midnight-moss font-poppins-medium">Time Remaining <span>{{display}}</span></p>
            <p class="text-midnight-moss font-poppins-medium cursor-pointer" (click)="resendOTP()">
              {{t('login.resend-otp')}}
            </p>
          </div>
        </div>
      </form>
      <div class="d-flex flex-column login-btns w-100 gap-3 mb-4">
        <button class="btn bg-midnight-moss text-white w-100 py-2 font-poppins-semi" (click)="Login()" *ngIf="!showOtp">
          {{t('login.login')}}
        </button>
        <button class="btn bg-midnight-moss text-white w-100 py-2 font-poppins-semi" (click)="VerifyOtp()" *ngIf="showOtp">
          Verify Otp
        </button>
        <!-- <button
          class="d-flex align-items-center justify-content-center btn text-midnight-moss w-100 py-2 font-poppins-semi border border-color-gray-300 gap-2"id="google-login-button"(click)="LoginWithGoogle()">
          <img src="assets/SVG/google.svg" alt="" />{{t('login.signup-google')}}
        </button> -->
      </div>
      <div id="g_id_onload"
      data-client_id="1087623064187-dvnr2g65fbk52l5sutr3io8apef57pdv.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="redirect"
      data-login_uri="https://localhost:4200/applicant"
      data-callback="GoogleResponse"
      data-auto_prompt="false">
    </div>

  <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
  </div>
      <div class="d-flex flex-column w-100">
        <p class="text-equator lh-20 font-poppins-semi mx-auto fg-pass cursor-pointer" (click)="ForgotPassword()">
          {{t('login.forgot-password')}}
        </p>
        <p class="text-gray-600 mx-auto">
          {{t('login.acount-text')}}
          <span class="font-poppins-medium text-equator ms-1 cursor-pointer"
            (click)="SignUp()">{{t('login.sign-up')}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
</ng-container>