<ng-container *transloco="let t; scope: 'basicInfo';">

  <div class="main-container" [ngClass]="{'mb-0' : isUserProfile}">
    <!-- <div class="sign-up-info-div profile-div">
    <span class="heading">Profile Picture</span>
    <div class="d-flex align-items-center upload-profile-pic mt-3">
      <div class="profile">
        <img *ngIf="this.imagePathOrBase64 == undefined" src="{{this.linkedInServive.userInfo != undefined ? this.linkedInServive.userInfo.picture : defaultUrl}}" alt="" />
        <img *ngIf="this.imagePathOrBase64 != undefined" [src]="imagePathOrBase64" alt="" />
      </div>
      <div class="d-flex flex-column flex-sm-row upload-btns gap-2">
        <button type="file"
                class="btn bg-midnight-moss text-white rounded font-poppins-medium fs-8 position-relative text-nowrap"
                (change)="selectFile($event)">
          Change Avatar
          <input class="form-control position-absolute opacity-0 h-100 w-100 left-0 top-0"
                 type="file"
                 id="formFile" />
        </button>
        <button type="button"
                (click)="removeAvtar()"
                class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8 text-nowrap">
          Remove Avatar
        </button>
      </div>
    </div>
  </div> -->
    <!-- <div class="sign-up-info-div cv-div">
    <div class="heading mb-3">CV File</div>
    <p class="font-poppins-bold text-midnight-moss">Upload</p>
    <div class="upload-file">
      <img src="assets/SVG/upload.svg"
           alt="" />
      <p class="upload-text">
        <span>Click to Upload </span>or drag and drop
      </p>
      <span>PDF or DOC (max. size 6MB)</span>
      <input class="form-control"
             type="file"
             id="formFile"
             (change)="uploadCV($event)" />
    </div>
    <div *ngIf="fileList.length > 0"
         class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3 gap-md-0 gap-2">
      <div class="uploaded-files col-xl-4 col-md-6 d-flex align-items-center"
           *ngFor="let file of fileList">
        <div class="file-details rounded">
          <div class="d-flex align-items-center gap-2">
            <div class="file-icon">
              <img src="assets/SVG/pdf-icon.svg"
                   alt=""
                   *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'" />
              <img src="assets/SVG/doc-icon.svg"
                   alt=""
                   *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'" />
            </div>
            <div class="file-name-type">
              <span class="file-name">{{ file.name }}</span>
              <h6 class="file-type font-poppins-bold"
                  *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'">PDF</h6>
              <h6 class="file-type font-poppins-bold"
                  *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'">Word</h6>
            </div>
          </div>

          <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
            <img height="20"
                 src="assets/SVG/delete.svg"
                 alt=""
                 (click)="DeleteFile(file)" />
          </div>
        </div>
      </div>
    </div>
  </div> -->
    <div class="sign-up-info-div">
      <form class="row" action="" [formGroup]="applicantForm">
        <div class="d-flex flex-column col-md-6 col-12">
          <p> {{t('basicInfo.first-name')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [formControlName]="'firstName'" />
            <mat-error class="error-message"
              *ngIf="f.firstName.hasError('required') && (f.firstName.dirty || f.firstName.touched)">First name is
              required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.last-name')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [formControlName]="'lastName'" />
            <mat-error class="error-message"
              *ngIf="f.lastName.hasError('required') && (f.lastName.dirty || f.lastName.touched)">Last Name is
              required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.middle-name')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [formControlName]="'middleName'" />
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.date-birth')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="picker" [formControlName]="'birthDate'" dateInput placeholder="dd/mm/yyyy">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error class="error-message"
              *ngIf="f.birthDate.hasError('required') && (f.birthDate.dirty || f.birthDate.touched)">Date of birth is
              Required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.nationality')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'nationality'">
              <mat-option *ngFor="let country of this.userInfoService.countryRegions"
                [value]="country.value">{{country.name}}</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
            <mat-error class="error-message"
              *ngIf="f.nationality.hasError('required') && (f.nationality.dirty || f.nationality.touched)">Nationality is required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.gender')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'gender'">
              <mat-option value="0">None</mat-option>
              <mat-option value="1">Male</mat-option>
              <mat-option value="2">Female</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
            <mat-error class="error-message"
              *ngIf="f.gender.hasError('required') && (f.gender.dirty || f.gender.touched)">Gender is
              required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.marital-status')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'maritalStatus'">
              <mat-option value="0">None</mat-option>
              <mat-option value="1">Married</mat-option>
              <mat-option value="2">Single</mat-option>
              <mat-option value="3">Widowed</mat-option>
              <mat-option value="4">Divorced</mat-option>
              <mat-option value="5">Cohabiting</mat-option>
              <mat-option value="6">Registeredpartnership</mat-option>
              <mat-option value="7">Separated</mat-option>
              <mat-option value="8">Civilpartnership</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
            <mat-error class="error-message"
              *ngIf="f.maritalStatus.hasError('required') && (f.maritalStatus.dirty || f.maritalStatus.touched)">marital
              status is required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.ethnic-origin')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'ethnicOriginId'">
              <mat-option *ngFor="let ethnic of this.userInfoService.ethnic"
                [value]="ethnic.value">{{ethnic.name}}</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.native-language')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'nativeLanguageId'">
              <mat-option *ngFor="let nlanguage of this.userInfoService.nativeLanguage"
                [value]="nlanguage.value">{{nlanguage.name}}</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
            <mat-error class="error-message"
              *ngIf="f.nativeLanguageId.hasError('required') && (f.nativeLanguageId.dirty || f.nativeLanguageId.touched)">Native
              language is required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.previous-employer')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'previousEmployee'">
              <mat-option value="1">Yes</mat-option>
              <mat-option value="0">No</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.current-salary')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [formControlName]="'currentSalary'" />
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.current-job-title')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [formControlName]="'currentJobTitle'" />
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.highest-degree')}}*</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'highestDegree'">
              <mat-option *ngFor="let hDegree of this.userInfoService.highestDegree"
                [value]="hDegree.value">{{hDegree.name}}</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
            <mat-error class="error-message"
              *ngIf="f.highestDegree.hasError('required') && (f.highestDegree.dirty || f.highestDegree.touched)">Highest
              degree is required</mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-md-6 col-12">
          <p>{{t('basicInfo.reason-code')}}</p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [formControlName]="'reasonCode'">
              <mat-option *ngFor="let reasonCode of this.userInfoService.reasonCodes"
                [value]="reasonCode.value">{{reasonCode.name}}</mat-option>
            </mat-select>
            <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
          </mat-form-field>
        </div>
      </form>
    </div>
    <!-- <div class="sign-up-info-div about-me">
    <span class="heading">About Me</span>
    <ckeditor [editor]="Editor"></ckeditor>
  </div> -->
    <div class="d-flex align-items-center justify-content-end w-100 gap-3 action-btns">
      <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5"
        (click)="SaveChanges()">
        {{t('basicInfo.save-changes')}}
      </button>
    </div>
  </div>
</ng-container>