@import "../../../../styles/variables-saas";

.main-container {
  .contact-item-container {
    margin-bottom: 1rem;
    gap: 1.75rem;
    .contact-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 0.813rem;
      padding-inline: 1rem;
      background-color: $white-smoke;
    }
  }
}
