<div>
  <h4 class="text-midnight-moss">Applied Jobs</h4>
  <div *ngIf="appliedJobs.length === 0" class="job-detail justify-content-center rounded-3">
    <div class="no-information">
      <img src="assets/SVG/no-applied.svg" alt="" />
      <p class="text-shuttle-grey">You didnt apply for any job</p>
      <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5"
        (click)="GoToJobs()">
        Browse Jobs
      </button>
    </div>
  </div>
  <div *ngIf="appliedJobs?.length > 0">
  <div  *ngFor="let appliedJob of appliedJobs" class="job-detail rounded-3 cursor-pointer" (click)="GoToJobActions()">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="text-midnight-moss">{{appliedJob?.Title}}</h5>
      <div class="d-flex align-items-center header-icons ms-lg-1 ms-0 gap-xl-2 gap-1">
        <div>
          <img height="26px" src="assets/SVG/saved-job.svg" alt="saved" class="cursor-pointer green-filter" />
        </div>
        <div>
          <img height="26px" src="assets/SVG/Share.svg" alt="share" class="cursor-pointer green-filter" />
        </div>
      </div>
    </div>
    <p class="text-shuttle-grey">
      {{appliedJob?.Overview}}
    </p>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
      <p class="text-midnight-moss mb-0">Dubai, UAE</p>
    </div>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
      <p class="text-midnight-moss mb-0">Remote</p>
    </div>
    <div class="stage rounded-pill bg-feijoa">
      <p class="mb-0 font-poppins-medium text-midnight-moss">Interview Stage</p>
    </div>
    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter">
          <img src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="completed"></p>
        </div>
        <h6 class="text-midnight-moss font-poppins-medium">Screening</h6>
        <p class="text-midnight-moss font-poppins-medium">Screening</p>
      </div>
      <div class="stepper-item active">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-midnight-moss font-poppins-medium">Interview</h6>
        <p class="text-midnight-moss font-poppins-medium">Interview</p>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-midnight-moss font-poppins-medium">Offer</h6>
        <p class="text-midnight-moss font-poppins-medium">Offer</p>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-midnight-moss font-poppins-medium">Onboarding</h6>
        <p class="text-midnight-moss font-poppins-medium">Onboarding</p>
      </div>
    </div>
  </div>
</div>
</div>