<div>
  <h4>Applied Jobs</h4>
  <div class="job-detail rounded-3" (click)="toJobActions()">
    <div class="d-flex align-items-center justify-content-between">
      <h5>Lead Product Design</h5>
      <div
        class="d-flex align-items-center header-icons ms-lg-1 ms-0 gap-xl-2 gap-1"
      >
        <div>
          <img
            height="26px"
            src="assets/SVG/saved-job.svg"
            alt="saved"
            class="cursor-pointer"
          />
        </div>
        <div>
          <img
            height="26px"
            src="assets/SVG/Share.svg"
            alt="share"
            class="cursor-pointer"
          />
        </div>
      </div>
    </div>
    <p class="text-shuttle-grey">
      Your job as a UX Designer is to give a world-class experience for
      tiket.com users...
    </p>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img src="assets/SVG/ic_Location.svg" alt="" />
      <p class="text-midnight-moss mb-0">Dubai, UAE</p>
    </div>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img src="assets/SVG/ic_Job.svg" alt="" />
      <p class="text-midnight-moss mb-0">Remote</p>
    </div>
    <div class="stage rounded-pill bg-feijoa">
      <p class="mb-0 font-poppins-medium text-midnight-moss">Interview Stage</p>
    </div>
    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter ">
          <img src="assets/SVG/noun-tick.svg" alt="" />
          <p *ngIf="completed"></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Screening</h6>
        <p class="text-gray-700 font-poppins-medium">Screening</p>
      </div>
      <div class="stepper-item active">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Interview</h6>
        <p class="text-gray-700 font-poppins-medium">Interview</p>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Offer</h6>
        <p class="text-gray-700 font-poppins-medium">Offer</p>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Onboarding</h6>
        <p class="text-gray-700 font-poppins-medium">Onboarding</p>
      </div>
    </div>
  </div>
  <div class="job-detail rounded-3" (click)="toJobActions()">
    <div class="d-flex align-items-center justify-content-between">
      <h5>Lead Product Design</h5>
      <div
        class="d-flex align-items-center header-icons ms-lg-1 ms-0 gap-xl-2 gap-1"
      >
        <div>
          <img
            height="26px"
            src="assets/SVG/saved-job.svg"
            alt="saved"
            class="cursor-pointer"
          />
        </div>
        <div>
          <img
            height="26px"
            src="assets/SVG/Share.svg"
            alt="share"
            class="cursor-pointer"
          />
        </div>
      </div>
    </div>
    <p class="text-shuttle-grey">
      Your job as a UX Designer is to give a world-class experience for
      tiket.com users...
    </p>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img src="assets/SVG/ic_Location.svg" alt="" />
      <p class="text-midnight-moss mb-0">Dubai, UAE</p>
    </div>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img src="assets/SVG/ic_Job.svg" alt="" />
      <p class="text-midnight-moss mb-0">Remote</p>
    </div>
    <div class="stage rounded-pill bg-shuttle-grey">
      <p class="mb-0 font-poppins-medium text-white">Not Selected</p>
    </div>
    <div class="stepper-wrapper">
      <div class="stepper-item">
        <div class="step-counter ">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p ></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Screening</h6>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Interview</h6>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Offer</h6>
      </div>
      <div class="stepper-item">
        <div class="step-counter">
          <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
          <p></p>
        </div>
        <h6 class="text-gray-700 font-poppins-medium">Onboarding</h6>
      </div>
    </div>
  </div>
</div>
