<ng-container *transloco="let t; scope: 'basicInfo';">

<form class="row" action="" [formGroup]="addressForm">
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>{{t('basicInfo.address')}}*</p>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput name="nameOfDescription" [formControlName]="'Address'" />
      <mat-error class="error-message"
        *ngIf="f.Address.hasError('required') && (f.Address.dirty || f.Address.touched)">Address is Required</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>{{t('basicInfo.country')}}*</p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select name="country" [formControlName]="'CountryRegionId'" (selectionChange)="changeCountry()" [panelClass]="{'direction-change':isTranslate}">
        <mat-option *ngFor="let country of this.userInfoService.countryRegions"
          [value]="country.value">{{country.name}}</mat-option>
      </mat-select>
      <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      <mat-error class="error-message"
        *ngIf="f.CountryRegionId.hasError('required') && (f.CountryRegionId.dirty || f.CountryRegionId.touched)">Country
        is Required</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>{{t('basicInfo.city')}}</p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select name="city" [formControlName]="'City'" [panelClass]="{'direction-change':isTranslate}">
        <mat-option *ngFor="let city of this.cities" [value]="city.value">{{city.name}}</mat-option>
      </mat-select>
      <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>{{t('basicInfo.street')}}*</p>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput name="street" [formControlName]="'streetName'" />
      <mat-error class="error-message"
        *ngIf="f.streetName.hasError('required') && (f.streetName.dirty || f.streetName.touched)">Street Name is
        Required</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>{{t('basicInfo.zip-postalCode')}}*</p>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput name="zipCode" [formControlName]="'zipCode'"/>
      <mat-error class="error-message"
        *ngIf="f.zipCode.hasError('required') && (f.zipCode.dirty || f.zipCode.touched)">zipCode is Required</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>{{t('basicInfo.post-box')}}</p>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput name="PostalCode" [formControlName]="'PostalCode'" />
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns">
    <button type="button" class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
    [ngClass]="{'order-1': isTranslate}"
      (click)="Discard()">
      {{t('basicInfo.discard')}}
    </button>
    <button type="button" class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
    [ngClass]="{'order-2': isTranslate}"
      (click)="CloseAddressNav()">
      {{t('basicInfo.close')}}
    </button>
    <button type="button"
      class="btn bg-midnight-moss border-color-midnight-moss text-white rounded font-poppins-semi fs-8 text-nowrap"
      (click)="SaveIdentification()">
      {{t('basicInfo.save')}}
    </button>
    <button type="button"
      class="btn bg-midnight-moss border-color-midnight-moss text-white rounded font-poppins-semi fs-8 text-nowrap"
      (click)="SaveIdentification()">
      Save add New
    </button>
  </div>
</form>
</ng-container>