<ng-container *transloco="let t; scope: 'dashboard';">
  <div class="container-fluid mt-5"
       [ngClass]="{'direction-change' : translationService.isTranslate}">
       <div class="d-flex align-items-center gap-2 px-0 back-button cursor-pointer"
         (click)="GoBack()">
      <img src="assets/SVG/Iconback.svg"
           alt="" />
      <p class="font-poppins-semi text-gray-600 mb-0"> {{t('dashboard.back')}}</p>
    </div>
    <h4 class="text-midnight-moss">{{t('dashboard.applied-jobs')}}</h4>
    <div class="job-detail rounded-3">
      <div class="d-flex align-items-center justify-content-between w-100 mb-2">
        <h5 class="text-midnight-moss">{{selectedJob?.Description}}</h5>
        <div class="d-flex align-items-center header-icons ms-lg-1 ms-0 gap-xl-2 gap-1">
          <span class="rounded-pill bg-warning text-white font-poppins-medium p-2" *ngIf="selectedJob?.approvedApplication == 0">{{t('dashboard.pending-approval')}}</span>
          <!-- <div>
          <img height="26px" src="assets/SVG/saved-job.svg" alt="saved" class="cursor-pointer green-filter" />
        </div>
        <div>
          <img height="26px" src="assets/SVG/Share.svg" alt="share" class="cursor-pointer green-filter" />
        </div> -->
        </div>
      </div>
      <p class="text-shuttle-grey">
        {{selectedJob?.Overview}}
      </p>
      <div class="d-flex align-items-center gap-1 job-location-info mb-2">
        <img class="green-filter"
             src="assets/SVG/ic_Location.svg"
             alt="" />
        <p class="text-midnight-moss mb-0">{{selectedJob?.JobLocation}}</p>
      </div>
      <div class="d-flex align-items-center gap-1 job-location-info mb-2">
        <img class="green-filter"
             src="assets/SVG/ic_Job.svg"
             alt="" />
        <p class="text-midnight-moss mb-0">{{selectedJob?.jobType}}</p>
      </div>
      <div class="stage rounded-pill bg-feijoa" *ngIf="selectedJob?.approvedApplication !== 0">
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 0">{{t('dashboard.received')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 1">{{t('dashboard.confirmed')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 2">{{t('dashboard.interview')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 3">{{t('dashboard.rejection')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 4">{{t('dashboard.cancled')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 5">{{t('dashboard.employed')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss"
           *ngIf="selectedJob?.applicationStatus === 6">{{t('dashboard.offered')}}</p>
        <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 7">{{t('dashboard.on-boarding')}}</p>
      </div>
      <div class="stepper-wrapper"
           [ngClass]="{'reverse-direction' : translationService.isTranslate}" *ngIf="selectedJob?.approvedApplication !== 0">
        <div class="stepper-item"
             [ngClass]="{ 'completed': selectedJob?.applicationStatus === 0 || selectedJob?.applicationStatus > 0}">
          <div class="step-counter">
            <img src="assets/SVG/noun-tick.svg"
                 alt=""
                 *ngIf="selectedJob?.applicationStatus === 0 || selectedJob?.applicationStatus > 0" />
            <p
               *ngIf="selectedJob?.applicationStatus !== 0 && selectedJob?.applicationStatus !== 1 && selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6 && selectedJob?.applicationStatus !== 7">
            </p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">{{t('dashboard.received')}}</h6>
          <p class="text-midnight-moss font-poppins-medium">{{t('dashboard.received')}}</p>
        </div>
        <div class="stepper-item"
             [ngClass]="{ 'completed': selectedJob?.applicationStatus === 1 || selectedJob?.applicationStatus > 1}">
          <div class="step-counter">
            <img src="assets/SVG/noun-tick.svg"
                 alt=""
                 *ngIf="selectedJob?.applicationStatus === 1 || selectedJob?.applicationStatus > 1" />
            <p
               *ngIf="selectedJob?.applicationStatus !== 1 && selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6 && selectedJob?.applicationStatus !== 7">
            </p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">{{t('dashboard.confirmed')}}</h6>
          <p class="text-midnight-moss font-poppins-medium">{{t('dashboard.confirmed')}}</p>
        </div>
        <div class="stepper-item"
             [ngClass]="{ 'completed': selectedJob?.applicationStatus === 2 || selectedJob?.applicationStatus > 5}">
          <div class="step-counter">
            <img *ngIf="selectedJob?.applicationStatus === 2 || selectedJob?.applicationStatus > 2"
                 src="assets/SVG/noun-tick.svg"
                 alt="" />
            <p *ngIf="selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6 && selectedJob?.applicationStatus !== 7"></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">{{t('dashboard.interview')}}</h6>
          <p class="text-midnight-moss font-poppins-medium">{{t('dashboard.interview')}}</p>
        </div>
        <div class="stepper-item"
             [ngClass]="{ 'completed': selectedJob?.applicationStatus === 6 || selectedJob?.applicationStatus > 6}">
          <div class="step-counter">
            <img *ngIf="selectedJob?.applicationStatus === 6 || selectedJob?.applicationStatus > 6"
                 src="assets/SVG/noun-tick.svg"
                 alt="" />
            <p *ngIf="selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6 && selectedJob?.applicationStatus !== 7"></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">{{t('dashboard.offer')}}</h6>
          <p class="text-midnight-moss font-poppins-medium">{{t('dashboard.offer')}}</p>
        </div>
        <div class="stepper-item">
          <div class="step-counter">
            <img *ngIf="completed"
                 src="assets/SVG/noun-tick.svg"
                 alt="" />
            <p></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">{{t('dashboard.on-boarding')}}</h6>
          <p class="text-midnight-moss font-poppins-medium">{{t('dashboard.on-boarding')}}</p>
        </div>
      </div>
    </div>
    <h4 class="text-midnight-moss">{{t('dashboard.actions')}}</h4>
    <!-- <div class="next-actions" *ngIf="selectedJob?.InterviewerList?.parmApplicantInterviewList.length > 0">
      <div class="actions rounded-3">
        <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
          <div class="job-details">
            <div class="d-flex align-items-center gap-xxl-3 gap-2">
              <div class="d-flex flex-column month-date">
                <div class="d-flex align-items-center justify-content-center month rounded-top">
                  dec
                </div>
                <div class="d-flex align-items-center justify-content-center date rounded-bottom">
                  07
                </div>
              </div>
              <div class="d-flex flex-column action-details">
                <h6 class="mb-1 text-midnight-moss font-poppins-bold">Interview</h6>
                <h6 class="mb-1 text-midnight-moss font-poppins-bold">Senior UX/UI</h6>
                <div class="meeting-with mb-1">
                  <span class="text-shuttle-grey">Meeting with: </span>
                  <span class="text-feijoa">Daniel Crumi</span>
                </div>
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 schedule">
                  <div class="d-flex align-items-center gap-1 font-poppins-medium time text-midnight-moss">
                    <img src="assets/SVG/calendar.svg"
                         alt="clock" />
                    07 Dec, 2024
                  </div>
                  <div class="d-flex align-items-center gap-1 font-poppins-medium time text-midnight-moss">
                    <img src="assets/SVG/clock.svg"
                         alt="clock" />
                    3h: 30 PM
                  </div>
                  <div class="d-flex align-items-center gap-1 font-poppins-medium time-remaining text-midnight-moss">
                    <img src="assets/SVG/hourglass.svg"
                         alt="time-remaining" />
                    30m
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
            <button type="button"
                    class="btn text-error-600 border border-color-error-600 rounded font-poppins-semi fs-8 w-auto"
                    (click)="OpenReschedule()">
              Reschedule
            </button>
            <button type="button"
                    class="btn text-white bg-pastel-green-dark rounded font-poppins-semi fs-8 w-auto">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <h5 *ngIf="selectedJob?.approvedApplication !== 0 && selectedJob?.InterviewerList?.parmApplicantInterviewList.length > 0"
          class="text-midnight-moss">{{t('dashboard.interview-schedule')}}</h5>
      <div class="col-lg-4 col-sm-6 col-12 mr-2"
           *ngFor="let interview of selectedJob?.InterviewerList?.parmApplicantInterviewList">
        <div class="next-actions">
          <div class="actions info-container rounded-3">
            <div class="d-flex flex-column gap-2 justify-content-sm-between">
              <div class="">
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="mb-1 font-poppins-bold text-midnight-moss">{{selectedJob.jobId}}</h6>
                  <button type="button"
                          class="btn text-white bg-pastel-green-dark rounded font-poppins-semi fs-8"
                          (click)="Confirm(selectedJob , interview)"
                          [disabled]="interview.ApplicantConfirmed === 1">
                    {{t('dashboard.confirm')}}
                  </button>
                </div>
                <div class="d-flex align-items-center gap-xxl-3 gap-2">
                  <div class="d-flex flex-column month-date">
                    <div class="d-flex align-items-center justify-content-center month rounded-top">
                      {{GetMonth(interview.StartTime)}}
                    </div>
                    <div class="d-flex align-items-center justify-content-center date">
                      {{GetDay(interview.StartTime)}}
                    </div>
                    <div class="d-flex align-items-center justify-content-center day rounded-bottom">
                      {{GetYear(interview.StartTime)}}
                    </div>
                  </div>
                  <div class="d-flex flex-column action-details">

                    <div class="d-flex meeting-with mb-2 text-nowrap">
                      <span class="text-midnight-moss">{{t('dashboard.meeting-with')}}: </span>
                      <span class="text-denim text-nowrap text-truncate">{{interview.InterviewerName}}</span>
                    </div>
                    <div class="d-flex meeting-with mb-2 text-nowrap">
                      <span class="text-midnight-moss">{{t('dashboard.location')}}: </span>
                      <span class="text-denim text-nowrap text-truncate">{{interview.Location}}</span>
                    </div>
                    <div class="d-flex align-items-center gap-2 schedule">
                      <div class="d-flex align-items-center gap-1 font-poppins-medium time text-midnight-moss">
                        <img src="assets/SVG/clock.svg"
                             alt="clock" />
                        {{interview.StartTime | date: 'shortTime'}}
                      </div>
                      <div
                           class="d-flex align-items-center gap-1 font-poppins-medium time-remaining text-midnight-moss">
                        <img src="assets/SVG/hourglass.svg"
                             alt="time-remaining" />
                        <span>{{GetTimeDifference(interview.StartTime , interview.EndTime)}}mins</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="next-actions" *ngIf="selectedJob?.approvedApplication !== 0 && (selectedJob?.applicationStatus === 6 || selectedJob?.applicationStatus > 6)">
      <div class="actions rounded-3">
        <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
          <div class="job-details">
            <div class="d-flex align-items-center gap-xxl-3 gap-2">
              <div>
                <img src="assets/SVG/ready-offer.svg"
                     alt="book" />
              </div>
              <div class="d-flex flex-column action-details">
                <!-- <h6 class="mb-1 text-midnight-moss font-poppins-bold">{{t('dashboard.offer-ready')}}</h6> -->
                <h6 class="mb-1 text-midnight-moss font-poppins-bold" *ngIf="selectedJob.offerStatus == 0">{{t('dashboard.offer-processing')}}</h6>
                    <h6 class="mb-1 text-midnight-moss font-poppins-bold" *ngIf="selectedJob.offerStatus == 1">{{t('dashboard.offer-ready')}}</h6>
                <h6 class="mb-1 text-midnight-moss font-poppins-bold">{{selectedJob?.Description}}</h6>
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-4 gap-1 mb-1">
                  <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-3 gap-1">
                    <div class="d-flex align-items-center gap-2">
                      <img class="green-filter"
                           src="assets/SVG/ic_Location.svg"
                           alt="" />
                      <p class="text-midnight-moss font-poppins-medium mb-0">
                        {{selectedJob?.JobLocation}}
                      </p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <img class="green-filter"
                           src="assets/SVG/ic_Job.svg"
                           alt="" />
                      <p class="text-midnight-moss font-poppins-medium mb-0">
                        {{selectedJob?.jobType}}
                      </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <img src="assets/SVG/redirect.svg"
                         alt="" />
                    <a class="cursor-pointer mb-0">{{t('dashboard.job-details')}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
              <!-- <button type="button"
                      class="btn text-white bg-error-600 rounded font-poppins-semi fs-8 w-auto" (click)="RejectOffer()">
                      {{t('dashboard.reject-offer')}}
              </button>
              <button type="button"
                      class="btn text-white bg-pastel-green-dark rounded font-poppins-semi fs-8 w-auto" (click)="acceptOffer()">
                      {{t('dashboard.accept-offer')}}
              </button> -->
            <button type="button"
                    class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 w-auto"
                    (click)="toJobOffer()">
                    {{t('dashboard.show-offer')}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="next-actions"
         *ngIf="selectedJob?.approvedApplication !== 0 && selectedJob?.applicationStatus === 7">
      <div class="actions rounded-3">
        <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
          <div class="job-details">
            <div class="d-flex align-items-center gap-xxl-3 gap-2">
              <div>
                <img src="assets/SVG/celebrate.svg"
                     alt="book" />
              </div>
              <div class="d-flex flex-column action-details">
                <h6 class="mb-1 text-midnight-moss font-poppins-bold">{{t('dashboard.congrats-selection')}}</h6>
                <h6 class="mb-1 text-midnight-moss font-poppins-bold">{{selectedJob?.Description}}</h6>
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-4 gap-1 mb-1">
                  <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-3 gap-1">
                    <div class="d-flex align-items-center gap-2">
                      <img class="green-filter"
                           src="assets/SVG/ic_Location.svg"
                           alt="" />
                      <p class="text-midnight-moss font-poppins-medium mb-0">
                        {{selectedJob?.JobLocation}}
                      </p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <img class="green-filter"
                           src="assets/SVG/ic_Job.svg"
                           alt="" />
                      <p class="text-midnight-moss font-poppins-medium mb-0">
                        {{selectedJob?.jobType}}
                      </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <img src="assets/SVG/redirect.svg"
                         alt="" />
                    <a class="cursor-pointer mb-0">{{t('dashboard.job-details')}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
            <button type="button"
                    class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 w-auto"
                    (click)="toOnboarding()">
                    {{t('dashboard.start-on-boarding')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>