<div class="container-fluid mt-5">
  <h4 class="text-midnight-moss">Applied Jobs</h4>
  <div class="job-detail rounded-3">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="text-midnight-moss">{{selectedJob?.Title}}</h5>
      <div class="d-flex align-items-center header-icons ms-lg-1 ms-0 gap-xl-2 gap-1">
        <div>
          <img height="26px" src="assets/SVG/saved-job.svg" alt="saved" class="cursor-pointer green-filter" />
        </div>
        <div>
          <img height="26px" src="assets/SVG/Share.svg" alt="share" class="cursor-pointer green-filter" />
        </div>
      </div>
    </div>
    <p class="text-shuttle-grey">
      {{selectedJob?.Overview}}
    </p>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
      <p class="text-midnight-moss mb-0">{{selectedJob?.JobLocation}}</p>
    </div>
    <div class="d-flex align-items-center gap-1 job-location-info mb-2">
      <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
      <p class="text-midnight-moss mb-0">{{selectedJob?.jobType}}</p>
    </div>
    <div class="stage rounded-pill bg-feijoa">
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 0">Received</p>
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 1">Confirmed</p>
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 2">Interview</p>
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 3">Rejection</p>
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 4">Cancled</p>
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 5">Employed</p>  
      <p class="mb-0 font-poppins-medium text-midnight-moss" *ngIf="selectedJob?.applicationStatus === 6">Offered</p>
  
    </div>
      <div class="stepper-wrapper">
        <div class="stepper-item" [ngClass]="{ 'completed': selectedJob?.applicationStatus === 0 || selectedJob?.applicationStatus > 0}">
          <div class="step-counter">
            <img src="assets/SVG/noun-tick.svg" alt="" *ngIf="selectedJob?.applicationStatus === 0 || selectedJob?.applicationStatus > 0"/>
            <p  *ngIf="selectedJob?.applicationStatus !== 0 && selectedJob?.applicationStatus !== 1 && selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6"></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">Recived</h6>
          <p class="text-midnight-moss font-poppins-medium">Received</p>
        </div>
        <div class="stepper-item" [ngClass]="{ 'completed': selectedJob?.applicationStatus === 1 || selectedJob?.applicationStatus > 1}">
          <div class="step-counter">
            <img src="assets/SVG/noun-tick.svg" alt="" *ngIf="selectedJob?.applicationStatus === 1 || selectedJob?.applicationStatus > 1"/>
            <p *ngIf="selectedJob?.applicationStatus !== 1 && selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6"></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">Confirmed</h6>
          <p class="text-midnight-moss font-poppins-medium">Confirmed</p>
        </div>
        <div class="stepper-item" [ngClass]="{ 'completed': selectedJob?.applicationStatus === 2 || selectedJob?.applicationStatus > 5}">
          <div class="step-counter">
            <img *ngIf="selectedJob?.applicationStatus === 2 || selectedJob?.applicationStatus > 2" src="assets/SVG/noun-tick.svg" alt="" />
            <p *ngIf="selectedJob?.applicationStatus !== 2 && selectedJob?.applicationStatus !== 6" ></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">Interview</h6>
          <p class="text-midnight-moss font-poppins-medium">Interview</p>
        </div>
        <div class="stepper-item" [ngClass]="{ 'completed': selectedJob?.applicationStatus === 6}">
          <div class="step-counter">
            <img *ngIf="selectedJob?.applicationStatus === 6 || selectedJob?.applicationStatus > 6" src="assets/SVG/noun-tick.svg" alt="" />
            <p *ngIf="selectedJob?.applicationStatus !== 6"></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">Offer</h6>
          <p class="text-midnight-moss font-poppins-medium">Offer</p>
        </div>
        <div class="stepper-item">
          <div class="step-counter">
            <img *ngIf="completed" src="assets/SVG/noun-tick.svg" alt="" />
            <p></p>
          </div>
          <h6 class="text-midnight-moss font-poppins-medium">Onboarding</h6>
          <p class="text-midnight-moss font-poppins-medium">Onboarding</p>
        </div>
      </div>
  </div>
  <h4 class="text-midnight-moss">Actions</h4>
  <div class="next-actions" *ngIf="selectedJob?.applicationStatus === 2">
    <div class="actions rounded-3">
      <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
        <div class="job-details">
          <div class="d-flex align-items-center gap-xxl-3 gap-2">
            <div class="d-flex flex-column month-date">
              <div class="d-flex align-items-center justify-content-center month rounded-top">
                dec
              </div>
              <div class="d-flex align-items-center justify-content-center date rounded-bottom">
                07
              </div>
            </div>
            <div class="d-flex flex-column action-details">
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Interview</h6>
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Senior UX/UI</h6>
              <div class="meeting-with mb-1">
                <span class="text-shuttle-grey">Meeting with: </span>
                <span class="text-feijoa">Daniel Crumi</span>
              </div>
              <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 schedule">
                <div class="d-flex align-items-center gap-1 font-poppins-medium time text-midnight-moss">
                  <img src="assets/SVG/calendar.svg" alt="clock" />
                  07 Dec, 2024
                </div>
                <div class="d-flex align-items-center gap-1 font-poppins-medium time text-midnight-moss">
                  <img src="assets/SVG/clock.svg" alt="clock" />
                  3h: 30 PM
                </div>
                <div class="d-flex align-items-center gap-1 font-poppins-medium time-remaining text-midnight-moss">
                  <img src="assets/SVG/hourglass.svg" alt="time-remaining" />
                  30m
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
          <button type="button"
            class="btn text-error-600 border border-color-error-600 rounded font-poppins-semi fs-8 w-auto"
            (click)="OpenReschedule()">
            Reschedule
          </button>
          <button type="button" class="btn text-white bg-pastel-green-dark rounded font-poppins-semi fs-8 w-auto">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="next-actions" *ngIf="selectedJob?.applicationStatus === 7">
    <div class="actions rounded-3">
      <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
        <div class="job-details">
          <div class="d-flex align-items-center gap-xxl-3 gap-2">
            <div>
              <img src="assets/SVG/book.svg" alt="book" />
            </div>
            <div class="d-flex flex-column action-details">
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Finish the form</h6>
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Senior UX/UI</h6>
              <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-4 gap-1 mb-1">
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-3 gap-1">
                  <div class="d-flex align-items-center gap-2">
                    <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
                    <p class="text-midnight-moss font-poppins-medium mb-0">
                      Dubai, UAE
                    </p>
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
                    <p class="text-midnight-moss font-poppins-medium mb-0">
                      Job Type
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <img src="assets/SVG/redirect.svg" alt="" />
                  <a class="cursor-pointer mb-0">Job details</a>
                </div>
              </div>
              <div class="d-flex error align-items-center gap-1 badge rounded-pill p-1">
                <span class="badge rounded-pill text-white">Error</span>
                <span>Missing form</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
          <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 w-auto">
            Fill the form
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="next-actions" *ngIf="selectedJob?.applicationStatus === 6">
    <div class="actions rounded-3">
      <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
        <div class="job-details">
          <div class="d-flex align-items-center gap-xxl-3 gap-2">
            <div>
              <img src="assets/SVG/ready-offer.svg" alt="book" />
            </div>
            <div class="d-flex flex-column action-details">
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Offer is ready</h6>
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Senior UX/UI</h6>
              <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-4 gap-1 mb-1">
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-3 gap-1">
                  <div class="d-flex align-items-center gap-2">
                    <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
                    <p class="text-midnight-moss font-poppins-medium mb-0">
                      Dubai, UAE
                    </p>
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
                    <p class="text-midnight-moss font-poppins-medium mb-0">
                      Job Type
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <img src="assets/SVG/redirect.svg" alt="" />
                  <a class="cursor-pointer mb-0">Job details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
          <button type="button" class="btn text-white bg-error-600 rounded font-poppins-semi fs-8 w-auto">
            Reject offer
          </button>
          <button type="button" class="btn text-white bg-pastel-green-dark rounded font-poppins-semi fs-8 w-auto">
            Accept offer
          </button>
          <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 w-auto"
            (click)="toJobOffer()">
            Show offer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="next-actions" *ngIf="selectedJob?.applicationStatus === 7">
    <div class="actions rounded-3">
      <div class="d-flex flex-md-row flex-column gap-2 justify-content-sm-between">
        <div class="job-details">
          <div class="d-flex align-items-center gap-xxl-3 gap-2">
            <div>
              <img src="assets/SVG/celebrate.svg" alt="book" />
            </div>
            <div class="d-flex flex-column action-details">
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Congratulations!!!! You Were Selected</h6>
              <h6 class="mb-1 text-midnight-moss font-poppins-bold">Senior UX/UI</h6>
              <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-4 gap-1 mb-1">
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-sm-3 gap-1">
                  <div class="d-flex align-items-center gap-2">
                    <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
                    <p class="text-midnight-moss font-poppins-medium mb-0">
                      Dubai, UAE
                    </p>
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
                    <p class="text-midnight-moss font-poppins-medium mb-0">
                      Job Type
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <img src="assets/SVG/redirect.svg" alt="" />
                  <a class="cursor-pointer mb-0">Job details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-sm-row flex-column align-items-sm-center gap-xxl-3 gap-2 btns-container">
          <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 w-auto"
            (click)="toOnboarding()">
            Start onboarding
          </button>
        </div>
      </div>
    </div>
  </div>
</div>