<div class="main-container">
  <div class="sign-up-info-div">
    <form class="row" action="" [formGroup]="this.userInfoService.applicantForm">
      <div class="d-flex flex-column col-md-6 col-12">
        <p>First Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput  [formControlName]="'firstName'"/>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Last Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput  [formControlName]="'lastName'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Middle Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput  [formControlName]="'middleName'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Date of Birth</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Nationality</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select  [formControlName]="'nationality'">
            <mat-option value="pakistan">Pakistan</mat-option>
            <mat-option value="india">India</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Gender</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select  [formControlName]="'gender'">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Marital Status</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'maritalStatus'">
            <mat-option value="single">Single</mat-option>
            <mat-option value="married">Married</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Ethnic Origin</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'ethnicOriginId'">
            <mat-option *ngFor="let ethnic of this.userInfoService.ethnic" [value]="ethnic.value">{{ethnic.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Native Language</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'nativeLanguageId'">
            <mat-option *ngFor="let nlanguage of this.userInfoService.nativeLanguage" [value]="nlanguage.value">{{nlanguage.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Previous Employer</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Current Salary</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [formControlName]="'currentSalary'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Current Job Title</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [formControlName]="'currentJobTitle'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Highest Degree</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'highestDegree'">
            <mat-option *ngFor="let hDegree of this.userInfoService.highestDegree"  [value]="hDegree.value">{{hDegree.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Reason Code</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'reasonCode'">
            <mat-option *ngFor="let reasonCode of this.userInfoService.reasonCodes"  [value]="reasonCode.value">{{reasonCode.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>