<div class="main-container">
  <div class="sign-up-info-div">
    <form class="row" action="">
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Date of Birth</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Nationality</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="pakistan">Pakistan</mat-option>
            <mat-option value="india">India</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Gender</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Marital Status</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="single">Single</mat-option>
            <mat-option value="married">Married</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Ethnic Origin</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="asian">Asian</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Native Language</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="english">English</mat-option>
            <mat-option value="russian">Russian</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Previous Employer</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Current Salary</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Current Job Title</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Highest Degree</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="BS">BS</mat-option>
            <mat-option value="MS">MS</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Reason Code</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option value="english">English</mat-option>
            <mat-option value="russian">Russian</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>