<div class="main-container">
  <div class="sign-up-info-div">
    <form class="row" action="" [formGroup]="applicantForm">
      <div class="d-flex flex-column col-md-6 col-12">
        <p>First Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput  [formControlName]="'firstName'"/>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Last Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput  [formControlName]="'lastName'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Middle Name</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput  [formControlName]="'middleName'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Date of Birth</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker" [formControlName]="'birthDate'" dateInput>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Nationality</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select  [formControlName]="'nationality'">
            <mat-option *ngFor="let country of this.userInfoService.countryRegions" [value]="country.value">{{country.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Gender</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select  [formControlName]="'gender'">
            <mat-option value = "0">None</mat-option>
            <mat-option value = "1">Male</mat-option>
            <mat-option value = "2">Female</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Marital Status</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'maritalStatus'">
            <mat-option value = "0">None</mat-option>
            <mat-option value = "1">Married</mat-option>
            <mat-option value = "2">Single</mat-option>
            <mat-option value = "3">Widowed</mat-option>
            <mat-option value = "4">Divorced</mat-option>
            <mat-option value = "5">Cohabiting</mat-option>
            <mat-option value = "6">Registeredpartnership</mat-option>
            <mat-option value = "7">Separated</mat-option>
            <mat-option value = "8">Civilpartnership</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Ethnic Origin</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'ethnicOriginId'">
            <mat-option *ngFor="let ethnic of this.userInfoService.ethnic" [value]="ethnic.value">{{ethnic.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Native Language</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'nativeLanguageId'">
            <mat-option *ngFor="let nlanguage of this.userInfoService.nativeLanguage" [value]="nlanguage.value">{{nlanguage.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Previous Employer</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select  [formControlName]="'previousEmployee'">
            <mat-option value = "1">Yes</mat-option>
            <mat-option value = "0">No</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Current Salary</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [formControlName]="'currentSalary'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Current Job Title</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [formControlName]="'currentJobTitle'" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Highest Degree</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'highestDegree'">
            <mat-option *ngFor="let hDegree of this.userInfoService.highestDegree"  [value]="hDegree.value">{{hDegree.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p>Reason Code</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [formControlName]="'reasonCode'">
            <mat-option *ngFor="let reasonCode of this.userInfoService.reasonCodes"  [value]="reasonCode.value">{{reasonCode.name}}</mat-option>
          </mat-select>
          <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="d-flex align-items-center justify-content-end w-100 gap-3 action-btns">
    <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5"
      (click)="SaveChanges()">
      Save Changes
    </button>
  </div>
</div>