<div class="main-container">
  <div class="sign-up-info-div">
    <form class="row" action="">
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Type</p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select >
            <mat-option value="home">Home</mat-option>
            <mat-option value="office">Office</mat-option>
          </mat-select>
          <img matSuffix src="../../../../assets/SVG/chevron-down.svg" alt="" />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Contact Number</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>