<ng-container *transloco="let t; scope: 'basicInfo';">

<div class="main-container">
  <div class="sign-up-info-div">
    <div class="d-flex align-items-center justify-content-between">
      <span class="heading">{{t('basicInfo.contact')}}</span>
      <div
        class="d-flex align-items-center justify-content-center rounded bg-midnight-moss text-white add-info gap-2 cursor-pointer"
        (click)="AddContact()">
        <img src="assets/SVG/plus-icon.svg" alt="" />
        <h6 class="mb-0">{{t('basicInfo.add-new')}}</h6>
      </div>
    </div>
    <div class="row mx-0">
      <div *ngIf="this.userInfoService.contactsList.length === 0" class="contact-list">
        <div class="no-information">
          <img src="assets/SVG/no-info.svg" alt="no-info">
          <p class="text-shuttle-grey">{{t('basicInfo.no-info')}}</p>
        </div>
      </div>
      <div class="contact-list d-flex flex-column align-items-center mt-3 col-sm-6 col-12"
        *ngFor="let contact of this.userInfoService.contactsList">
        <div class="d-flex align-items-center w-100 contact-item-container">
          <div class="contact-item rounded w-100">
            <div class="d-flex align-items-start flex-column">
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 0" >None</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 1" >Phone</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 2" >Email</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 3" >URL</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 4" >Telex</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 5" >Fax</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 6" >Facebook</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 7" >Twitter</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 8" >LinkedIn</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 9" >Instagram</p>
              <p class="text-midnight-moss font-poppins-bold" *ngIf="contact?.Type === 10" >WhatsApp</p>
              <h6 class="mb-0 font-poppins-semi">{{ contact.ContactNumber }}</h6>
            </div>
            <div class="d-flex align-items-center gap-1">
              <div class="p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                <img class="cursor-pointer" (click)="EditContact(contact)" src="assets/SVG/edit-icon.svg" alt="" />
              </div>
              <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                <img src="assets/SVG/trash-01.svg" (click)="DeleteContact(contact)" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="sidenavOpen">
  <div class="sidenav p-xxl-5 p-md-4 p-3 bg-white w-lg-45 w-md-75 w-100" [ngClass]="sidenavOpen ? 'open' : 'close'">
    <span class="heading">{{t('basicInfo.contact')}}</span>
    <app-add-edit-contact-info (closeSideNav)="CloseSidenav()" [selectedContact]="selectedContact"
      (contactData)="ContactAdded($event)"></app-add-edit-contact-info>
  </div>
</ng-container>
</ng-container>