@import "../../../styles/variables-saas";

.main-container {
  .contact-item-container {
    margin-bottom: 1.25rem;
    gap: 1.75rem;
    .contact-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 0.813rem;
      padding-inline: 1rem;
      background-color: $white-smoke;
    }
  }
  .add-info {
    transition: all 0.3s ;
    h6 {
      display: none;
    }
    &:hover {
      h6 {
        display: block;
      }
    }
  }
}
