<form class="row" action="" [formGroup]="identificationForm">
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Identification Type</p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select
        name="identifcationType"
        [formControlName]="'identifcationType'"
      >
        <mat-option value="card">Card</mat-option>
      </mat-select>
      <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Identification Number</p>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        name="identificationNumber"
        [formControlName]="'identificationNumer'"
      />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Issue Date</p>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        [matDatepicker]="issueDate"
        name="issueDate"
        [formControlName]="'issueDate'"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="issueDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #issueDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Expiry Date</p>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        [matDatepicker]="expiryDate"
        name="expiryDate"
        [formControlName]="'expiryDate'"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="expiryDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #expiryDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="cv-div">
    <div *ngIf="fileList.length === 0" class="upload-file">
        <input type="file" (change)="onFileUpload($event)"><img src="assets/SVG/upload.svg" alt="">
        <p class="upload-text"><span>Click to Upload </span>or drag and drop</p>
        <span>PDF or DOC (max. size 6MB)</span>
      </div>
      <div *ngIf="fileList.length > 0" class="p-3 row col-lg-6 col-12 mx-0 files-div rounded border border-color-whisper mt-3 gap-md-0 gap-2">
        <div class="uploaded-files col-12 px-0 d-flex align-items-center" *ngFor="let file of fileList">
          <div class="file-details rounded" >
            <div class="d-flex align-items-center gap-2">
              <div class="file-icon">
                <img src="assets/SVG/pdf-icon.svg" alt="" />
              </div>
              <div class="file-name-type">
                <span class="file-name">{{file.name}}</span>
                <h6 class="file-type font-poppins-bold">PDF</h6>
              </div>
            </div>
            <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
              <img src="assets/SVG/trash-01.svg" alt="" (click)="DeleteFile(file)"/>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
<div
  class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns"
>
  <button
    type="button"
    class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
    (click)="Discard()"
  >
    Discard
  </button>
  <button
    type="button"
    class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
    (click)="CloseIdentificationNav()"
  >
    Close
  </button>
  <button
    type="button"
    class="btn bg-midnight-moss border-color-midnight-moss text-white rounded font-poppins-semi fs-8 text-nowrap"
    (click)="SaveIdentification()"
  >
    Save
  </button>
</div>
