<ng-container *transloco="let t; scope: 'quickApply'">
<div class="job-title">
  <div class="d-flex align-items-center justify-content-between">
    <h6 class="mb-0 font-poppins-semi text-midnight-moss">{{selectedJob.Description}}</h6>
    <div class="d-flex align-items-center gap-2">
      <!-- <img height="34px" src="assets/SVG/Saved.svg" alt="saved" class="cursor-pointer green-filter" /> -->
      <!-- <img height="34px" src="assets/SVG/Share.svg" alt="search" class="cursor-pointer green-filter" /> -->
    </div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <div class="d-flex align-items-center gap-1 job-location-info">
      <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
      <p class="text-midnight-moss mb-0 font-poppins-medium">{{selectedJob.JobLocation}}</p>
    </div>
    <div class="d-flex align-items-center gap-1 job-location-info">
      <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
      <p class="text-midnight-moss mb-0 font-poppins-medium">{{selectedJob.JobType}}</p>
    </div>
  </div>
</div>
<div class="quick-apply-fields mb-0">
  <h5 class="text-midnight-moss">{{ t("quickApply.information") }}</h5>
  <form class="row" action="" [formGroup]="quickApplyForm">
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.name") }}*</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput [formControlName]="'name'"/>
        <mat-error class="error-message" *ngIf="f.name.hasError('required') && (f.name.dirty || f.name.touched)">Name is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.name-ar") }}</p>
      <mat-form-field appearance="outline" class="w-100 text-arabic">
        <input matInput [formControlName]="'nameAr'"/>
        <mat-error class="error-message" *ngIf="f.nameAr.hasError('required') && (f.nameAr.dirty || f.nameAr.touched)">Name arabic is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.recruitement-project") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <input type="text"
               matInput
               [formControlName]="'recruitmentProject'">
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.nationality") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <img matPrefix height="15" width="15" src="assets/SVG/search.svg" class="ms-2" alt="" />
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        <input type="text"
               placeholder="{{ t('quickApply.nationality-paceholder') }}"
               aria-label="Select Nationality"
               matInput
               [formControl]="nationalityCtrl"
               [matAutocomplete]="autoNationality"
               [formControlName]="'nationality'"
               (click)="this.nationalityDefaultSearch()">
        <mat-autocomplete autoActiveFirstOption #autoNationality="matAutocomplete" [class]="isTranslate ? 'direction-change':''">
          <mat-option *ngFor="let nationality of nationalityData | async" (onSelectionChange) = "OnNationlaityChange($event)" [value]="nationality.name" >
            {{nationality.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error class="error-message" *ngIf="f.nationality.hasError('required') && (f.nationality.dirty || f.nationality.touched)">Nationality is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.email") }}*</p>
      <mat-form-field appearance="outline" class="w-100">
        <input type="email" matInput [formControlName]="'email'"/>
        <mat-error class="error-message" *ngIf="f.email.hasError('required') && (f.email.dirty || f.email.touched)">Email is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.mobile") }}*</p>
      <mat-form-field appearance="outline" class="w-100" dir="ltr">
        <ngx-mat-intl-tel-input
        [preferredCountries]="['sa', 'us']"
        [enablePlaceholder]="true"
        [enableSearch]="true"
        name="phone"
        [formControlName] ="'phone'" 
        describedBy="phoneInput"
        (countryChanged) = "OnCountryChanged($event)"
      ></ngx-mat-intl-tel-input>        
      <mat-error class="error-message" *ngIf="f.phone.hasError('required') && (f.phone.dirty || f.phone.touched)">Phone is Required</mat-error>
      <mat-error *ngIf="f.phone.errors?.validatePhoneNumber">Invalid Number</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12 linkedin-profile">
      <p>{{ t("quickApply.linkedIn") }}</p>
      <div class="d-flex gap-1">
        <div class="linkedin-icon">
          <img src="assets/SVG/linkedin-black.svg" alt="">
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [formControlName]="'linkedIn'"/>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.highest-degree") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <img matPrefix height="15" width="15" src="assets/SVG/search.svg" class="ms-2" alt="" />
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        <input type="text"
               placeholder="{{ t('quickApply.degree-placeholder') }}"
               aria-label="Select Degree"
               matInput
               [formControl]="degreeCtrl"
               [matAutocomplete]="autodegrees"
               [formControlName]="'highestDegree'"
               (click)="this.degreeDefaultSearch()">
        <mat-autocomplete autoActiveFirstOption #autodegrees="matAutocomplete" [class]="isTranslate ? 'direction-change':''">
          <mat-option *ngFor="let degree of degreeOptions | async" [value]="degree.value">
            {{degree.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.current-address-out") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <img matPrefix height="15" width="15" src="assets/SVG/search.svg" class="ms-2" alt="" />
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        <input type="text"
               placeholder="{{ t('quickApply.country-placeholder') }}"
               aria-label="Select Country"
               matInput
               [formControl]="countriesCtrl"
               [matAutocomplete]="autocountries"
               [formControlName]="'address'"
               (click)="this.countryDefaultSearch()">
        <mat-autocomplete autoActiveFirstOption #autocountries="matAutocomplete" [class]="isTranslate ? 'direction-change':''">
          <mat-option *ngFor="let country of countriesData | async" (onSelectionChange) = "changeCountry($event)" [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error class="error-message" *ngIf="f.address.hasError('required') && (f.address.dirty || f.address.touched)">Country is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.current-address-local") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <img matPrefix height="15" width="15" src="assets/SVG/search.svg" class="ms-2" alt="" />
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
        <input type="text"
               placeholder="{{ t('quickApply.city-placeholder') }}"
               aria-label="Select Cities"
               matInput
               [formControl]="citiesCtrl"
               [matAutocomplete]="autocities"
               [formControlName]="'currentAddressOut'"
               (click)="this.citiesDefaultSearch()">
        <mat-autocomplete autoActiveFirstOption #autocities="matAutocomplete" [class]="isTranslate ? 'direction-change':''">
          <mat-option *ngFor="let city of citiesData | async" [value]="city.value">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error class="error-message" *ngIf="f.currentAddressOut.hasError('required') && (f.currentAddressOut.dirty || f.currentAddressOut.touched)">City is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.date-birth") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput [matDatepicker]="picker"  [formControlName] = "'dateOfBirth'" dateInput placeholder="dd/mm/yyyy">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error class="error-message" *ngIf="f.dateOfBirth.hasError('required') && (f.dateOfBirth.dirty || f.dateOfBirth.touched)">Date of Birth is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center col-md-6 col-12 checkbox-field">
      <mat-checkbox>
        <p class="mb-0">{{ t("quickApply.resident-identity") }}</p>
      </mat-checkbox>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.resident-identity-professional") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput  [formControlName]="'residentIdentityProfessional'"/>
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>{{ t("quickApply.period-join") }}</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [formControlName]="'periodJoin'" [panelClass]="{'direction-change':isTranslate}"> 
          <mat-option value="1">Immediately</mat-option>
          <mat-option value="2">One week</mat-option>
          <mat-option value="3">Two weeks</mat-option>
          <mat-option value="4">Three weeks</mat-option>
          <mat-option value="5">One month</mat-option>
          <mat-option value="6">Two months</mat-option>
          <mat-option value="7">Three months</mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="cv-div">
      <p class="text-midnight-moss font-poppins-bold">{{ t("quickApply.attachment") }}</p>
      <div class="upload-file">
        <input type="file" (change)="onFileUpload($event)"><img src="assets/SVG/upload.svg" alt="">
        <p class="upload-text"><span>{{ t("quickApply.click-upload") }}</span>{{ t("quickApply.drag-drop") }}</p>
        <span>{{ t("quickApply.pdf-doc") }} ({{ t("quickApply.max-size") }})</span>
      </div>
      <div *ngIf="fileList.length > 0" class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3">
        <div class="uploaded-files col-xl-6 col-lg-12 col-md-6 col-12 d-flex align-items-center mb-2"
          *ngFor="let file of fileList">
          <div class="file-details rounded">
            <div class="d-flex align-items-center gap-2">
              <div class="file-icon">
                <img src="assets/SVG/pdf-icon.svg" alt="" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'" />
                <img src="assets/SVG/doc-icon.svg" alt="" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'" />
              </div>
              <div class="file-name-type">
                <span class="file-name">{{file.name}}</span>
                <h6 class="file-type font-poppins-bold" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'">PDF</h6>
                <h6 class="file-type font-poppins-bold" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'">Word</h6>
              </div>
            </div>
            <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
              <img height="20" src="assets/SVG/delete.svg" alt="" (click)="DeleteFile(file)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns">
    <button type="button" class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8" [ngClass]="{ 'order-2': this.translationService.isTranslate }"
        (click)="CloseSidenav()">
        {{ t("quickApply.cancel") }}
    </button>
    <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 text-nowrap"
        (click)="QuickApply()">
        {{ t("quickApply.apply-now") }}
    </button>
</div>
</div>
</ng-container>