@import "../../styles/variables-saas";

  .job-title,
  .quick-apply-fields {
    padding: 0.75rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  .quick-apply-fields {
    padding: 1rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 4.875rem;
    }
  }
  .apply-btn {
    margin-bottom: 2rem;
  }
  

