@import "../../styles/variables-saas";

  .job-title,
  .quick-apply-fields {
    padding: 0.75rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  .quick-apply-fields {
    padding: 1rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 4.875rem;
    }
  }
  .apply-btn {
    margin-bottom: 2rem;
  }
  .files-div {
    gap: 2.5rem;
    margin-bottom: 1.25rem;
    .uploaded-files {
      gap: 1rem;
      @include media-breakpoint-up(xxl) {
        gap: 1.25rem;
      }
      .file-details {
        width: 230px;
        display: flex;
        justify-content: space-between;
        padding: 0.75rem;
        background-color: rgba(20, 129, 96, 0.1);
        .file-name-type {
          display: flex;
          flex-direction: column;
          .file-name {
            font-size: 0.75rem;
            font-family: $font-poppins-semi;
          }
        }
        @include media-breakpoint-up(xxl) {
          width: 276px;
        }
      }
    }
    .cv-div {
      .upload-cv-view {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 120px;
        border: 1px dashed $echo-blue;
      }
      .upload-cv-text {
        .file-size {
          font-size: 0.75rem !important;
          color: $storm-grey !important;
          font-family: $font-poppins-medium !important;
        }
      }
      .upload-cv {
        font-size: 0.75rem;
        font-family: $font-poppins-medium;
        padding: 0.5rem 0.75rem;
        .choose-file {
          padding: 4px 12px;
        }
      }
    }
  }


