<div class="job-title">
  <div class="d-flex align-items-center justify-content-between">
    <h6 class="mb-0 font-poppins-semi text-midnight-moss">Lead Product Design</h6>
    <div class="d-flex align-items-center gap-2">
      <img height="34px" src="assets/SVG/Saved.svg" alt="saved" class="cursor-pointer green-filter" />
      <img height="34px" src="assets/SVG/Share.svg" alt="search" class="cursor-pointer green-filter" />
    </div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <div class="d-flex align-items-center gap-1 job-location-info">
      <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
      <p class="text-midnight-moss mb-0 font-poppins-medium">Dubai, UAE</p>
    </div>
    <div class="d-flex align-items-center gap-1 job-location-info">
      <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
      <p class="text-midnight-moss mb-0 font-poppins-medium">Remote</p>
    </div>
  </div>
</div>
<div class="quick-apply-fields mb-0">
  <h5 class="text-midnight-moss">Information</h5>
  <form class="row" action="">
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Name</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Name(AR)</p>
      <mat-form-field appearance="outline" class="w-100 text-arabic">
        <input matInput />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Recruitement Project</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Nationality</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option value="pakistan">Pakistan</mat-option>
          <mat-option value="india">India</mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Email</p>
      <mat-form-field appearance="outline" class="w-100">
        <input type="email" matInput />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Mobile</p>
      <mat-form-field appearance="outline" class="w-100">
        <input type="tel" matInput />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12 linkedin-profile">
      <p>LinkedIn</p>
      <div class="d-flex gap-1">
        <div class="linkedin-icon">
          <img src="assets/SVG/linkedin-black.svg" alt="">
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Highest Degree</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option value="bs">BS</mat-option>
          <mat-option value="ms">MS</mat-option>
          <mat-option value="phd">PhD.</mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Current Address (Local)</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option value="mad">Madina</mat-option>
          <mat-option value="mak">Makka</mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Current Address (Out)</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option value="pak">Pakistan</mat-option>
          <mat-option value="ind">India</mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Date of Birth</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center col-md-6 col-12 checkbox-field">
      <mat-checkbox>
        <p class="mb-0">Has resident identity</p>
      </mat-checkbox>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Resident Identity Professional</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput />
      </mat-form-field>
    </div>
    <div class="d-flex flex-column col-md-6 col-12">
      <p>Period to Join</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option value="immediately">Immediately</mat-option>
          <mat-option value="onew">One week</mat-option>
          <mat-option value="twow">Two weeks</mat-option>
          <mat-option value="threew">Three weeks</mat-option>
          <mat-option value="onem">One month</mat-option>
          <mat-option value="twom">Two months</mat-option>
          <mat-option value="threem">Three months</mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="cv-div">
      <p class="text-midnight-moss font-poppins-bold">Attachment</p>
      <div class="upload-file">
        <input type="file" (change)="onFileUpload($event)"><img src="assets/SVG/upload.svg" alt="">
        <p class="upload-text"><span>Click to Upload </span>or drag and drop</p>
        <span>PDF or DOC (max. size 6MB)</span>
      </div>
      <div *ngIf="fileList.length > 0" class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3">
        <div class="uploaded-files col-xl-6 col-lg-12 col-md-6 col-12 d-flex align-items-center mb-2"
          *ngFor="let file of fileList">
          <div class="file-details rounded">
            <div class="d-flex align-items-center gap-2">
              <div class="file-icon">
                <img src="assets/SVG/pdf-icon.svg" alt="" />
              </div>
              <div class="file-name-type">
                <span class="file-name">{{file.name}}</span>
                <h6 class="file-type font-poppins-bold">PDF</h6>
              </div>
            </div>
            <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
              <img height="20" src="assets/SVG/delete.svg" alt="" (click)="DeleteFile(file)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>