<ng-container *transloco="let t; scope: 'competencies';">
<div class="main-container">
  <div class="sign-up-info-div">
    <div class="d-flex align-items-center justify-content-between">
      <span class="heading">{{t('competencies.position-of-trust')}}</span>
      <div
        class="d-flex align-items-center justify-content-center rounded bg-midnight-moss text-white add-info gap-2 cursor-pointer"
        (click)="AddPositionTrust()">
        <img src="assets/SVG/plus-icon.svg" alt="" />
        <h6 class="mb-0">{{t('competencies.add-new')}}</h6>
      </div>
    </div>
    <div class="row mx-0">
      <div *ngIf="positionTrustList.length === 0; else positionList" class="position-list">
        <div class="no-information">
          <img src="assets/SVG/no-info.svg" alt="no-info">
          <p class="text-shuttle-grey">{{t('competencies.no-info-text')}}</p>
        </div>
      </div>
      <ng-template #positionList>
        <div class="position-list d-flex flex-column align-items-center mt-3 col-sm-6 col-12"  *ngFor="let position of positionTrustList; index as i">
          <div class="d-flex align-items-center w-100 position-item-container">
            <div class="position-item rounded w-100">
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-1 font-poppins-bold">{{position.Employment}}</h6>
                <div class="d-flex align-items-center gap-1">
                  <div class="p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                    <img class="cursor-pointer" src="assets/SVG/edit-icon.svg" alt="" (click)="EditPositionOfTrust(position)"/>
                  </div>
                  <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                    <img  height="20" src="assets/SVG/delete.svg" alt="" (click)="Delete(position)"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="sidenav p-xxl-5 p-md-4 p-3 bg-white w-lg-45 w-md-75 w-100" [ngClass]="sidenavOpen ? 'open' : 'close'" *ngIf="sidenavOpen">
  <span class="heading">{{t('competencies.position-of-trust')}}</span>
  <app-add-edit-position-of-trust (closeSideNav)="CloseSidenav()" [selectedPositionOfTrust]="selectedPositionTrust"
  (positionTrustData)="PositionTrustAdded($event)"></app-add-edit-position-of-trust>
</div>
</ng-container>