<div class="container-div">
  <div class="inner-detail">
    <div class="left-detail">
      <h4 class="text-shuttle-grey">Congratulations...!</h4>
      <p class="text-shuttle-grey">
        You were accepted to this follow the onboarding process with dead line
        below
      </p>
      <h6 class="text-midnight-moss font-poppins-semi">Lead Product Design</h6>
      <div class="d-flex align-items-center gap-4 mb-1">
        <div class="d-flex align-items-center gap-3">
          <div class="d-flex align-items-center gap-2">
            <img class="green-filter" src="assets/SVG/ic_Location.svg" alt="" />
            <p class="text-midnight-moss font-poppins-medium mb-0">
              Dubai, UAE
            </p>
          </div>
          <div class="d-flex align-items-center gap-2">
            <img class="green-filter" src="assets/SVG/ic_Job.svg" alt="" />
            <p class="text-midnight-moss font-poppins-medium mb-0">Job Type</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img src="assets/SVG/redirect.svg" alt="" />
          <a class="cursor-pointer mb-0">Job details</a>
        </div>
      </div>
    </div>
    <div class="right-detail">
      <p class="rounded-pill mb-0 text-midnight-moss font-poppins-medium">
        accepted
      </p>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="sign-up-info-div cv-div">
    <form class="row" action="">
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Home Address</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-lg-6 col-12">
        <p>Secondary Address</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
