<div class="pt-3">
  <h3 class="text-center">Data Read by CV Reader</h3>
  
  <mat-dialog-content class="mat-typography">
    <div *ngFor="let d of this.data.defaultValue" class="mb-2">
      <div class="d-flex mb-1 gap-3"><span class="text-midnight-moss font-poppins-bold" style="min-width: 110px;">Name:</span><span class="text-gray-700"> {{d.data.extractedData?.name}}</span></div>
      <div class="d-flex mb-1 gap-3"><span class="text-midnight-moss font-poppins-bold" style="min-width: 110px;">Email:</span><span class="text-gray-700"> {{d.data.extractedData?.email}}</span></div>
      <div class="d-flex mb-1 gap-3"><span class="text-midnight-moss font-poppins-bold" style="min-width: 110px;">Address:</span><span class="text-gray-700"> {{d.data.extractedData?.address}}</span></div>
      <div class="d-flex mb-1 gap-3"><span class="text-midnight-moss font-poppins-bold" style="min-width: 110px;">Experience:</span><span class="text-gray-700"> {{d.data.extractedData?.experience}}</span></div>
      <div class="d-flex mb-1 gap-3"><span class="text-midnight-moss font-poppins-bold" style="min-width: 110px;">Skills:</span><span class="text-gray-700"> {{d.data.extractedData?.skills}}</span></div>
    </div>
    <button mat-dialog-close class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5 text-nowrap float-end">Close</button>
  </mat-dialog-content>
</div>