@import "../../../styles/variables-saas";

.info-container {
  padding-inline: 1.125rem;
  padding-block: 1rem;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0px 1px 2px 0px #00000014;
  .no-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
  }
}

.user-info {
  .profile-pic {
    .profile {
      margin-bottom: 1.125rem;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.next-actions {
  .job-details {
    @include media-breakpoint-up(xxl) {
      margin-bottom: 2.375rem;
    }
  }
  .month-date {
    .month {
      width: 46px;
      height: 17px;
      background-color: $feijoa;
      text-transform: uppercase;
      font-size: 0.531rem;
      font-family: $font-poppins-bold;
    }
    .date {
      width: 46px;
      height: 29px;
      background-color: $white-smoke;
      text-transform: uppercase;
      font-size: 0.875rem;
      font-family: $font-poppins-bold;
    }
  }
  .meeting-with {
    font-size: 0.75rem;
    font-family: $font-poppins-medium;
  }
  .confirm-reschedule {
    .btn {
      padding-inline: 1.25rem;
      padding-block: 0.5rem;
      width: 120.5px;
    }
  }
}
