<ng-container *transloco="let t; scope: 'profile';">
  <div class="profile-menu">
    <h5 class="font-poppins-semi text-midnight-moss">{{t('profile.basic-inf')}}</h5>
    <ul [ngClass]="isTranslate ? 'arabic-direction' : ''">
      <li [ngClass]="{'selected':isBasicInfo}"
          (click)="ScrolltoTarget('#basicInformation')">
        <h6>{{t('profile.applicant-image')}}</h6>
      </li>
      <li [ngClass]="{'selected':cv}"
          (click)="ScrolltoTarget('#cv')">
        <h6>{{t('profile.applicant-cv')}}</h6>
      </li>
      <li [ngClass]="{'selected':about}"
          (click)="ScrolltoTarget('#about')">
        <h6>{{t('profile.about-applicant')}}</h6>
      </li>
      <!-- <li [ngClass]="{'selected':profile}" (click)="ScrolltoTarget('#profile')"><h6>{{t('profile.profile')}}</h6></li>
    <li [ngClass]="{'selected':competencies}" (click)="ScrolltoTarget('#competencies')"><h6>{{t('profile.competencies')}}</h6></li> -->
      <!-- <li [ngClass]="{'selected':notifications}" (click)="ScrolltoTarget('#notifications')"><h6>{{t('profile.notifications')}}</h6></li>
    <li [ngClass]="{'selected':deactivate}" (click)="ScrolltoTarget('#deactivate')"><h6>{{t('profile.deactivate-account')}}</h6></li> -->
    </ul>
    <h5>{{t('profile.profile')}}</h5>
    <ul>
      <li [ngClass]="{'selected':isBasicActive}">
        <div 
             (click)="GoToTab(1)">
          <h6>{{t('profile.basic-info')}}</h6>
          <!-- <h6>{{t('profile.basic-info-text')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':isContactActive}">

        <div 
             (click)="GoToTab(2)">
          <h6>{{t('profile.contact')}}</h6>
          <!-- <h6>{{t('profile.contact-info')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':isAddressActive}">

        <div 
             (click)="GoToTab(3)">
          <h6>{{t('profile.address')}}</h6>
          <!-- <h6>{{t('profile.address-info')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':isIdentificationActive}">

        <div 
             (click)="GoToTab(4)">
          <h6>{{t('profile.identification')}}</h6>
          <!-- <h6>{{t('profile.identification-info')}}</h6> -->
        </div>
      </li>
    </ul>
    <h5 >{{t('profile.competencies')}}</h5>
    <ul >
      <li [ngClass]="{'selected':skillsisActive}">

        <div 
             (click)="GoToCompetencyTab(1)">
          <h6>{{t('profile.skills')}}</h6>
          <!-- <h6>{{t('profile.provide-skills')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':experienceisActive}">

        <div 
             (click)="GoToCompetencyTab(2)">
          <h6>{{t('profile.professional-experience')}}</h6>
          <!-- <h6>{{t('profile.provide-experience')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':educationisActive}">

        <div 
             (click)="GoToCompetencyTab(3)">
          <h6>{{t('profile.education')}}</h6>
          <!-- <h6>{{t('profile.provide-education')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':certificatesisActive}">

        <div 
             (click)="GoToCompetencyTab(4)">
          <h6>{{t('profile.certificates')}}</h6>
          <!-- <h6>{{t('profile.provide-certificate')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':coursesisActive}">

        <div 
             (click)="GoToCompetencyTab(5)">
          <h6>{{t('profile.courses')}}</h6>
          <!-- <h6>{{t('profile.provide-course')}}</h6> -->
        </div>
      </li>
      <li [ngClass]="{'selected':positionOfTrustisActive}">

        <div 
             (click)="GoToCompetencyTab(6)">
          <h6>{{t('profile.position-of-trust')}}</h6>
          <!-- <h6>{{t('profile.provide-position-trust')}}</h6> -->
        </div>
      </li>
    </ul>
  </div>
</ng-container>