@import "../../../styles/variables-saas";

ul {
  list-style: none;
  padding-left: 0;
  &:not(.stepper) {
    li {
      border-radius: 0.25rem;
      padding-left: 1rem;
      padding-block: 0.75rem;
      cursor: pointer;
      h6 {
        font-family: $font-poppins-medium;
        color: $midnight-moss;
        margin-bottom: 0;
      }
      &.selected {
        background-color: rgba(99, 101, 107, 0.12);
      }
    }
  }

  &.arabic-direction {
    padding-left: initial;
    padding-right: 0;
    li {
      padding-right: 1rem;
      padding-left: 0;
    }
  }
}
.stepper {
  li {
    display: flex;
    width: 100%;
    height: 45px;
    p {
      text-wrap: wrap;
    }
    div.stepper-progression {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      opacity: 0.1;
      p {
        margin-bottom: 0 !important;
        width: 8px;
        height: 8px;
      }
      &.active,
      &.completed {
        opacity: 1;
      }
      &.completed {
        background-color: $feijoa;
      }
      img {
        position: absolute;
        top: 5px;
        height: 17px;
        width: 15px;
      }
    }
    .stepper-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-inline: 0.75rem;
      margin-bottom: 1.5rem;
      cursor: pointer;
      p {
        margin-bottom: 0 !important;
        &:first-child {
          color: $midnight-moss;
          font-family: $font-poppins-semi;
        }
        &:nth-child(2) {
          color: $gray-600;
        }
      }
    }
  }
}

.profile-menu {
  max-height: calc(100vh - 225px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: $gray-400;
    border-radius: 5px;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $midnight-moss;
    border-radius: 5px;
  }
}