@import "../../../styles/variables-saas";

ul {
  list-style: none;
  padding-left: 0;
  margin-right: 5px;
  &:not(.stepper) {
    li {
      border-radius: 0.25rem;
      padding-left: 1rem;
      padding-block: 0.75rem;
      cursor: pointer;
      h6 {
        font-family: $font-poppins-medium;
        color: $midnight-moss;
        margin-bottom: 0;
      }
      &.selected {
        background-color: rgba(99, 101, 107, 0.12);
      }
    }
  }

  &.arabic-direction {
    padding-left: initial;
    padding-right: 0;
    margin-left: 5px;
    li {
      padding-right: 1rem;
      padding-left: 0;
    }
  }
}

.profile-menu {
  max-height: calc(100vh - 225px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: $gray-400;
    border-radius: 5px;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $midnight-moss;
    border-radius: 5px;
  }
}