<div class="container-fluid login-container-fluid overflow-hidden bg-white">
  <div class="row main-container">
    <div
      class="d-flex flex-column align-items-center mx-auto my-5 my-lg-8 forgot-password w-xl-45 w-lg-50 w-md-85 px-3 px-md-4">
      <div class="d-flex align-items-center justify-content-center rounded-circle bg-alice-blue p-3 mb-4">
        <img height="21" width="21" src="../assets/SVG/shield-check.svg" alt="" />
      </div>
      <div class="d-flex flex-column fg-pass align-items-center">
        <h3 class="lh-38 font-poppins-semi mb-2">Enter OTP code</h3>
        <h6 class="mobile-text text-gray-600 text-nowrap mb-0">
          OTP code has been sent to your email.
        </h6>
      </div>
      <form class="d-flex gap-2 w-lg-100 w-md-75 w-sm-100 w-100 forgot-password-form" action="">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput maxlength="1" class="text-center" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput maxlength="1" class="text-center" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput maxlength="1" class="text-center" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput maxlength="1" class="text-center" />
        </mat-form-field>
      </form>
      <div class="d-flex align-items-center justify-content-end w-100 gap-2">
        <button class="btn text-midnight-moss border-color-midnight-moss py-2 font-poppins-semi login-btns">
          Resend OTP
        </button>
        <button class="btn bg-midnight-moss text-white py-2 font-poppins-semi login-btns">
          Verfiy OTP
        </button>
      </div>
    </div>
  </div>
</div>