<div class="parent-container">
  <img height="26" width="26" src="assets/SVG/delete.svg" alt="delete" />
  <div>
    <h6 class="text-midnight-moss font-poppins-bold">Delete entry</h6>
    <p class="text-shuttle-grey">
      Are you sure you want to delete this? This action cannot be undone.
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-end w-100">
    <button
      type="button"
      class="btn border border-color-gray-300 text-gray-700 rounded font-poppins-medium"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn text-white bg-error-600 rounded font-poppins-medium"
    >
      Delete
    </button>
  </div>
</div>
