@import "../../../../styles/variables-saas";

.main-container {
  
  .certificate-item-container {
    margin-bottom: 1.25rem;
    gap: 1.75rem;
    .certificate-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 0.813rem;
      padding-inline: 1rem;
      background-color: $white-smoke;
      .error {
        background-color: $error-50;
        margin-left: -2px;
        width: fit-content;
        .badge {
          background-color: $error-600;
        }
        span {
          color: $error-700;
          font-size: 0.75rem;
          font-family: $font-poppins-medium;
        }
      }
      h6 {
        max-width: 100%;
      }
    }
  }
  .add-certificate {
    padding-block: 0.75rem;
    
  }
}
