<ng-container *transloco="let t; scope: 'competencies';">
<div class="main-container" [ngClass]="{'mb-2':isOnboarding}">
  <div class="sign-up-info-div">
    <div class="d-flex align-items-center justify-content-between">
      <span class="heading">{{t('competencies.certificates')}}</span>
      <div
        class="d-flex align-items-center justify-content-center rounded bg-midnight-moss text-white add-info gap-2 cursor-pointer"
        (click)="AddCertificate()">
        <img src="assets/SVG/plus-icon.svg" alt="" />
        <h6 class="mb-0">{{t('competencies.add-new')}}</h6>
      </div>
    </div>
    <div class="row mx-0">
      <div *ngIf="certificates.length === 0; else certificateList" class="certificate-list">
        <div class="no-information">
          <img src="assets/SVG/no-info.svg" alt="no-info" />
          <p class="text-shuttle-grey">{{t('competencies.no-info-text')}}</p>
        </div>
      </div>
      <ng-template #certificateList>
        <div class="certificate-list d-flex flex-column align-items-center mt-3 col-sm-6 col-12" *ngFor="let certificate of certificates">
          <div class="d-flex align-items-center w-100 certificate-item-container">
            <div class="certificate-item rounded w-100" >
              <div class="d-flex align-items-start flex-column">
                <p class="text-midnight-moss font-poppins-bold">{{t('competencies.certificate-type')}}:</p>
                <h6 class="mb-0 font-poppins-bold">{{certificate.CertificateTypeId}}</h6>
              </div>
              <div class="d-flex align-items-center gap-1">
                <div *ngIf="certificate.Attachment" class="p-2 rounded border border-color-alice-blue bg-white attachment-icon" >
                  <mat-icon title="1 attachment" >attach_file</mat-icon>
                </div>
                <div class="p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                  <img class="cursor-pointer" src="assets/SVG/edit-icon.svg" alt=""
                    (click)="EditCertificate(certificate)" />
                </div>
                <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                  <img  height="20" src="assets/SVG/delete.svg" alt="" (click)="Delete(certificate)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="sidenav p-xxl-5 p-md-4 p-3 bg-white w-lg-45 w-md-75 w-100" [ngClass]="sidenavOpen ? 'open' : 'close'" *ngIf="sidenavOpen">
  <span class="heading">{{t('competencies.certificates')}}</span>
  <app-add-edit-certificates (closeSideNav)="CloseSidenav()" [selectedCertificate]="selectedCertificate"
    (educationData)="CertificateAdded($event)"></app-add-edit-certificates>
</div>
</ng-container>