@use "@angular/material" as mat;
html,
body {
  height: 100%;
}
// Plus imports for other components in your app.
$my-typography: mat.define-typography-config(
  $font-family: "Poppins-Regular",
);
@include mat.typography-hierarchy($my-typography);
@include mat.core();

/* You can add global styles to this file, and also import other style files */
@import "./app/styles/variables-saas";

body {
  --bs-body-font-family: "Poppins-Regular" !important;
  background-color: $ivory;
}

h1 {
}

h2 {
}

h3 {
  font-size: 1.875rem !important; //30px
  font-family: $font-poppins-semi !important;
}

h4 {
  font-size: 1.5rem !important; //24px
  font-family: $font-poppins-semi !important;
}

h5 {
  font-size: 1.125rem !important; //18px
  font-family: $font-poppins-semi !important;
}

h6 {
  font-size: 1rem !important; //16px
}

p {
  font-size: 0.875rem !important;
}

.font-poppins-regular {
  font-family: $font-poppins-regular !important;
}

.font-poppins-medium {
  font-family: $font-poppins-medium !important;
}

.font-poppins-semi {
  font-family: $font-poppins-semi !important;
}

.font-poppins-bold {
  font-family: $font-poppins-bold !important;
}

.mat-mdc-form-field {
  font-size: 16px;
  color: $gray-500;
  font-family: "Poppins-Regular";
  .mat-mdc-text-field-wrapper {
    height: 2.75rem;
    .mat-mdc-form-field-infix {
      padding-block: 10px;
    }
    &.mdc-text-field--focused {
      border: black !important;
    }
  }
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: $gray-500;
  }
  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 0;
  }
  .mat-mdc-form-field-subscript-wrapper {
    font-family: "Poppins-Regular";
    color: $gray-600;
    font-size: 0.875rem;
  }
}

.py-12_5 {
  padding-block: 12.5rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.h-lg-100vh {
  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}


.login-text,
.login-btns,
.fg-pass {
  margin-bottom: 2rem;
}

@include media-breakpoint-down(md) {
  .mobile-text {
    letter-spacing: 0px;
  }
}