<div class="main-container">
  <div class="sign-up-info-div cv-div">
    <form class="row" action="">
      <div class="cv-div">
        <p class="font-poppins-bold">Upload Medical Documents
        </p>
        <div *ngIf="fileList.length === 0" class="upload-file">
          <input type="file" (change)="onFileUpload($event)" /><img
                  src="assets/SVG/upload.svg"
                  alt=""
          />
          <p class="upload-text">
            <span>Click to Upload </span>or drag and drop
          </p>
          <span>PDF or DOC (max. size 6MB)</span>
        </div>
        <div
          *ngIf="fileList.length > 0"
          class="p-3 row col-lg-6 col-12 mx-0 files-div rounded border border-color-whisper mt-3 gap-md-0 gap-2"
        >
          <div
            class="uploaded-files col-12 px-0 px-0 d-flex align-items-center"
            *ngFor="let file of fileList; index as i"
          >
            <div class="file-details rounded">
              <div class="d-flex align-items-center gap-2">
                <div class="file-icon">
                  <img src="assets/SVG/pdf-icon.svg" alt="" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'" />
                  <img src="assets/SVG/doc-icon.svg" alt="" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'" />
                </div>
                <div class="file-name-type">
                  <span class="file-name">{{ file.name }}</span>
                  <h6 class="file-type font-poppins-bold" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'">PDF</h6>
                  <h6 class="file-type font-poppins-bold" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'">Word</h6>
                </div>
              </div>
              <div
                class="delete p-2 rounded border border-color-alice-blue cursor-pointer"
              >
                <img
                   height="20" src="assets/SVG/delete.svg"
                  alt=""
                  (click)="DeleteFile(i)"
                />
              </div>
            </div>
          </div>
        </div>
        <input type="button" value="Upload Medical History" (click)="uploadMedical()" />
      </div>
    </form>
  </div>
</div>
