<div class="main-container">
  <div class="sign-up-info-div">
    <div class="d-flex align-items-center justify-content-between">
      <span class="heading">Courses</span>
      <div
        class="d-flex align-items-center justify-content-center rounded bg-midnight-moss text-white add-info gap-2 cursor-pointer"
        (click)="OpenSidenav()">
        <img src="assets/SVG/plus-icon.svg" alt="" />
        <h6 class="mb-0">Add New</h6>
      </div>
    </div>
    <div class="row mx-0">
      <div class="courses-list d-flex flex-column align-items-center mt-3 col-sm-6 col-12">
        <div class="d-flex align-items-center w-100 courses-item-container">
          <div class="courses-item rounded w-100">
            <h6 class="mb-0 font-poppins-bold">Course 1</h6>
            <div class="d-flex align-items-center gap-1">
              <div class="p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                <img class="cursor-pointer" src="assets/SVG/edit-icon.svg" alt="" />
              </div>
              <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer bg-white">
                <img src="assets/SVG/trash-01.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="sidenav p-xxl-5 p-md-4 p-3 bg-white w-lg-45 w-md-75 w-100" [ngClass]="sidenavOpen ? 'open' : 'close'">
  <span class="heading">Courses</span>
  <form class="d-flex flex-column w-100" action="">
    <div class="d-flex flex-column">
      <p>Course Type</p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option value="yes">
            Yes
          </mat-option>
        </mat-select>
        <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
      </mat-form-field>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-column p-0 w-50 me-2">
        <p>Start Date</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column p-0 w-50">
        <p>End Date</p>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-column">
      <p>Location</p>
      <mat-form-field appearance="outline" class="text-area w-100">
        <textarea rows="2" matInput></textarea>
      </mat-form-field>
    </div>
    <div class="cv-div">
      <div *ngIf="fileList.length===0" class="upload-file">
        <img src="assets/SVG/upload.svg" alt="">
        <p class="upload-text"><span>Click to Upload </span>or drag and drop</p>
        <span>PDF or DOC (max. size 6MB)</span>
      </div>
      <div *ngIf="fileList.length > 0"
        class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3 gap-md-0 gap-2">
        <div class="uploaded-files col-xl-4 col-md-6 d-flex align-items-center" *ngFor="let file of fileList">
          <div class="file-details rounded">
            <div class="d-flex align-items-center gap-2">
              <div class="file-icon">
                <img src="assets/SVG/pdf-icon.svg" alt="" />
              </div>
              <div class="file-name-type">
                <span class="file-name">{{file.name}}</span>
                <h6 class="file-type font-poppins-bold">PDF</h6>
              </div>
            </div>

            <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
              <img src="assets/SVG/trash-01.svg" alt="" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns">
    <button type="button" class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
      (click)="CloseSidenav()">
      Discard
    </button>
    <button type="button"
      class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8 text-nowrap"
      (click)="CloseSidenav()">
      Save add new
    </button>
    <button type="button" class="btn text-white bg-midnight-moss rounded font-poppins-semi" (click)="CloseSidenav()">
      Save
    </button>
  </div>
</div>