<ul class="stepper">
  <li>
    <div class="stepper-progression rounded-circle border border-color-midnight-moss">
      <p class="bg-midnight-moss rounded-circle"></p>
    </div>
    <div class="stepper-items">
      <p>Basic Information</p>
      <p>Please provide your name and email</p>
    </div>
  </li>
  <li>
    <div class="stepper-progression rounded-circle border border-color-midnight-moss">
      <p class="bg-midnight-moss rounded-circle"></p>
    </div>
    <div class="stepper-items">
      <p>Education</p>
      <p>Please provide your education</p>
    </div>
  </li>
  <li>
    <div class="stepper-progression rounded-circle border border-color-midnight-moss">
      <p class="bg-midnight-moss rounded-circle"></p>
    </div>
    <div class="stepper-items">
      <p>Experience</p>
      <p>Please provide your experience</p>
    </div>
  </li>
  <li>
    <div class="stepper-progression rounded-circle border border-color-midnight-moss">
      <p class="bg-midnight-moss rounded-circle"></p>
    </div>
    <div class="stepper-items">
      <p>Portfolio</p>
      <p>Please provide your portfolio</p>
    </div>
  </li>
  <li>
    <div class="stepper-progression rounded-circle border border-color-midnight-moss">
      <p class="bg-midnight-moss rounded-circle"></p>
    </div>
    <div class="stepper-items">
      <p>Skills</p>
      <p>Please provide your skills</p>
    </div>
  </li>
  <li>
    <div class="stepper-progression rounded-circle border border-color-midnight-moss">
      <p class="bg-midnight-moss rounded-circle"></p>
    </div>
    <div class="stepper-items">
      <p>Profiles</p>
      <p>Please provide your profiles</p>
    </div>
</ul>