@import "../../../styles/variables-saas";

.container-fluid {
  @include media-breakpoint-down(xl) {
    padding-inline: 1rem !important;
  }

  @include media-breakpoint-up(xl) {
    padding-inline: 6%;
  }
  
  .stepper {
    li {
      display: flex;
      width: 100%;
      div.stepper-progression {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        opacity: 0.1;
        p {
          margin-bottom: 0 !important;
          width: 8px;
          height: 8px;
        }
        &:not(.last-step)::after {
          content: "";
          height: 34px;
          width: 2px;
          background-color: $midnight-moss;
          position: absolute;
          bottom: -38px;
        }
        &.active {
          opacity: 1;
        }
        img{
          position: absolute;
          top: 5px;
          height: 17px;
          width: 15px
        }
      }
      .stepper-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-inline: 0.75rem;
        margin-bottom: 1.5rem;
        p {
          margin-bottom: 0 !important;
          &:first-child {
            color: $midnight-moss;
            font-family: $font-poppins-semi;
          }
          &:nth-child(2) {
            color: $gray-600;
          }
        }
      }
    }
  }
}
