@import "./../../styles/variables-saas";

.container-fluid {
  padding-block: 4.875rem;
  .main-container {
    .sign-up-info-div {
      .upload-profile-pic {
        .profile {
          width: 70px;
          height: 70px;
          margin-right: 1.25rem;
          border-radius: 50%;
          overflow: hidden;
        }
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      
    }
    .sign-up-sections {
      h4 {
        margin-bottom: 2rem;
      }
    }
  }
}
