<div class="container-fluid">
  <div class="row mx-0">
    <div class="col-xxl-2 col-lg-3 col-12">
      <app-left-menu (scrollTo)="ScrollToTarget($event)"></app-left-menu>
    </div>

    <div class="col-xxl-10 col-lg-9 col-12 mb-2 sign-up-sections">
      <h2 id="basicInformation" class="font-poppins-medium text-midnight-moss">
        Basic Information
      </h2>
      <div class="main-container mb-0">
        <div class="sign-up-info-div profile-div">
          <span class="heading">Profile Picture</span>
          <div class="d-flex align-items-center upload-profile-pic mt-3">
            <div class="profile">
              <img [src]="imageAvatar ? imageAvatar : defaultUrl" alt="" />
            </div>
            <div class="d-flex flex-column flex-sm-row upload-btns gap-2">
              <button
                type="file"
                class="btn bg-midnight-moss text-white rounded font-poppins-medium fs-8 position-relative text-nowrap"
                (change)="selectFile($event)"
              >
                Change Avatar
                <input
                  class="form-control position-absolute opacity-0 h-100 w-100 left-0 top-0"
                  type="file"
                  id="formFile"
                />
              </button>
              <button
                type="button"
                (click)="removeAvtar()"
                class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8 text-nowrap"
              >
                Remove Avatar
              </button>
            </div>
          </div>
        </div>
        <div class="sign-up-info-div cv-div">
          <div class="heading mb-3">CV File</div>
          <p class="font-poppins-bold text-midnight-moss">Upload</p>
          <div class="upload-file">
            <img src="assets/SVG/upload.svg" alt="" />
            <p class="upload-text">
              <span>Click to Upload </span>or drag and drop
            </p>
            <span>PDF or DOC (max. size 6MB)</span>
            <input
              class="form-control"
              type="file"
              id="formFile"
              (change)="uploadCV($event)"
            />
          </div>
          <div
            *ngIf="fileList.length > 0"
            class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3 gap-md-0 gap-2"
          >
            <div
              class="uploaded-files col-xl-4 col-md-6 d-flex align-items-center"
              *ngFor="let file of fileList"
            >
              <div class="file-details rounded">
                <div class="d-flex align-items-center gap-2">
                  <div class="file-icon">
                    <img src="assets/SVG/pdf-icon.svg" alt="" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'" />
                    <img src="assets/SVG/doc-icon.svg" alt="" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'" />
                  </div>
                  <div class="file-name-type">
                    <span class="file-name">{{ file.name }}</span>
                    <h6 class="file-type font-poppins-bold" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) == 'pdf'">PDF</h6>
                    <h6 class="file-type font-poppins-bold" *ngIf="file.name.substring(file.name.lastIndexOf('.') + 1, file.name.length) != 'pdf'">Word</h6>
                  </div>
                </div>

                <div
                  class="delete p-2 rounded border border-color-alice-blue cursor-pointer"
                >
                  <img
                    height="20"
                    src="assets/SVG/delete.svg"
                    alt=""
                    (click)="DeleteFile(file)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sign-up-info-div about-me">
          <span class="heading">About Me</span>
          <ckeditor [editor]="Editor"></ckeditor>
        </div>
        <!-- <div class="sign-up-info-div">
          <form class="row" action="">
            <div class="d-flex flex-column col-md-6 col-12">
              <p class="text-midnight-moss font-poppins-medium">Email</p>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  type="email"
                  matInput
                  placeholder="Enter your email"
                  [formControlName]="'email'"
                />
              </mat-form-field>
            </div>
            <div class="d-flex flex-column col-md-6 col-12">
              <p class="text-midnight-moss font-poppins-medium">Password</p>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  type="password"
                  matInput
                  placeholder="Enter your password"
                  [formControlName]="'password'"
                />
              </mat-form-field>
            </div>
          </form>
        </div> -->
        <div class="sign-up-info-div">
          <div class="d-flex align-items-center justify-content-between">
            <span class="heading">Profile</span>
            <img
              src="assets/SVG/edit-icon.svg"
              alt=""
              class="cursor-pointer"
              (click)="RouteToProfile()"
            />
          </div>
        </div>
        <div class="sign-up-info-div">
          <div class="d-flex align-items-center justify-content-between">
            <span class="heading">Competencies</span>
            <img
              src="assets/SVG/edit-icon.svg"
              alt=""
              class="cursor-pointer"
              (click)="RouteToCompetencies()"
            />
          </div>
        </div>
      </div>
      <h2 id="notifications" class="font-poppins-medium text-midnight-moss">
        Notifications
      </h2>
      <div class="main-container mb-0">
        <div class="sign-up-info-div notification-div">
          <div class="d-flex-flex-column text-midnight-moss">
            <h5 class="font-poppins-semi">Email Notifications</h5>
            <p class="mb-4">
              When you’re busy or not online, Substance can send you email
              notifications for any new direct messages or mentions of your
              name.
            </p>
            <h5 class="font-poppins-semi">Send me email notifications:</h5>
            <mat-radio-group
              aria-label="Select an option"
              class="d-flex flex-column mb-4"
            >
              <mat-radio-button value="anytime">Anytime</mat-radio-button>
              <mat-radio-button value="once"
                >Once a week at most</mat-radio-button
              >
              <mat-radio-button value="never">Never</mat-radio-button>
            </mat-radio-group>
            <h5 class="font-poppins-semi">Email News & Updates</h5>
            <p>
              From time to time, we’d like to send you emails with interesting
              news about Cuboid and your workspace. You can choose which of
              these updates you’d like to receive :
            </p>
            <section>
              <p><mat-checkbox>Tips and Tricks</mat-checkbox></p>
              <p><mat-checkbox>Offers and Promotions</mat-checkbox></p>
              <p><mat-checkbox>Research Opportunies</mat-checkbox></p>
              <p>
                <mat-checkbox
                  >Job Updates (Approved, rejected,
                  Canceled,etc..)</mat-checkbox
                >
              </p>
            </section>
          </div>
        </div>
      </div>
      <h2 id="deactivate" class="font-poppins-medium text-midnight-moss">
        Deactivate my account
      </h2>
      <div class="main-container">
        <div class="sign-up-info-div">
          <div
            class="d-flex align-items-md-center flex-md-row flex-column justify-content-md-between gap-lg-0 gap-2"
          >
            <div class="d-flex flex-column">
              <h6 class="font-poppins-semi">Deactivate my account</h6>
              <p class="text-shuttle-grey mb-0">
                Don’t want to receive any emails or save my data on the job
                finder portal
              </p>
            </div>
            <button
              type="button"
              class="btn text-white bg-error-600 rounded font-poppins-semi fs-8 py-2 px-5 text-nowrap"
            >
              Deactivate my account
            </button>
          </div>
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-end w-100 gap-3 action-btns"
      >
        <button
          type="button"
          class="btn border border-color-gainsboro text-midnight-moss rounded font-poppins-medium fs-8 py-2 px-3"
        >
          Discard
        </button>
        <button
          type="button"
          class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5 text-nowrap"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
