@import "./../../styles/variables-saas";

.container-fluid {
  padding-top: 4.875rem;
  .main-container {
    .sign-up-info-div {
      .upload-profile-pic {
        .profile {
          width: 70px;
          height: 70px;
          margin-right: 1.25rem;
          border-radius: 50%;
          overflow: hidden;
        }
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  .sign-up-sections {
    max-height: calc(100vh - 225px);
    overflow-y: auto;
    h2 {
      @include media-breakpoint-down(lg) {
        font-size: 1.75rem !important;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 2rem;
      }
    }
    &::-webkit-scrollbar {
      background: $gray-400;
      border-radius: 5px;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $midnight-moss;
      border-radius: 5px;
    }
  }
  &.direction-change {
    .profile {
      margin-right: 0 !important;
      margin-left: 1.25rem;
    }
  }
}
