<div class="container-fluid main-container">
  <div class="sign-up-info-div profile-div">
    <span class="heading">Profile Picture</span>
    <div class="d-flex align-items-center upload-profile-pic mt-3">
      <div class="profile">
        <img [src]= "imageAvatar ? imageAvatar : defaultUrl" alt="" />
      </div>
      <div class="d-flex flex-column flex-lg-row upload-btns gap-2">
        <button type="file" class="btn bg-midnight-moss text-white rounded font-poppins-medium fs-8 position-relative"  (change)="selectFile($event)">
          Change Avatar
          <input class="form-control position-absolute opacity-0 h-100 w-100 left-0 top-0" type="file" id="formFile">
        </button>
        <button type="button"
          class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8">
          Remove Avatar
        </button>
      </div>
    </div>
  </div>
  <div class="sign-up-info-div cv-div">
    <div class="heading mb-3">CV File</div>
    <p class="font-poppins-bold text-midnight-moss">Upload</p>
    <div class="upload-file">
      <img src="assets/SVG/upload.svg" alt="">
      <p class="upload-text"><span>Click to Upload </span>or drag and drop</p>
      <span>PDF or DOC (max. size 6MB)</span>
      <input class="form-control" type="file" id="formFile" (change)="onFileUpload($event)">
    </div>
    <div *ngIf="fileList.length > 0" class="p-3 row mx-0 files-div rounded border border-color-whisper mt-3 gap-md-0 gap-2">
      <div class="uploaded-files col-xl-6 col-lg-12 col-md-6 col-12 d-flex align-items-center mb-2" *ngFor="let file of fileList">
        <div class="file-details rounded" >
          <div class="d-flex align-items-center gap-2">
            <div class="file-icon">
              <img src="assets/SVG/pdf-icon.svg" alt="" />
            </div>
            <div class="file-name-type">
              <span class="file-name">{{file.name}}</span>
              <h6 class="file-type font-poppins-bold">PDF</h6>
            </div>
          </div>
          <div class="delete p-2 rounded border border-color-alice-blue cursor-pointer">
            <img  height="20" src="assets/SVG/delete.svg" alt="" (click)="DeleteFile(file)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sign-up-info-div about-me">
    <span class="heading">About Me</span>
    <ckeditor [editor]="Editor"></ckeditor>
  </div>
  <div class="sign-up-info-div">
    <form class="row" action="" [formGroup]="this.userForm">
      <div class="d-flex flex-column col-md-6 col-12">
        <p class="text-midnight-moss font-poppins-medium">Email</p>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="email"
            matInput
            placeholder="Enter your email"
            [formControlName]="'email'"
          />
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-md-6 col-12">
        <p class="text-midnight-moss font-poppins-medium">Password</p>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="password"
            matInput
            placeholder="Enter your password"
            [formControlName]="'password'"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="sign-up-info-div">
    <div class="d-flex align-items-center justify-content-between">
      <span class="heading">Profile</span>
      <img src="assets/SVG/edit-icon.svg" alt="" class="cursor-pointer" (click)="RouteToProfile()" />
    </div>
  </div>
  <div class="sign-up-info-div">
    <div class="d-flex align-items-center justify-content-between">
      <span class="heading">Competencies</span>
      <img src="assets/SVG/edit-icon.svg" alt="" class="cursor-pointer" (click)="RouteToCompetencies()" />
    </div>
  </div>
  <div>
    <div class="d-flex align-items-center justify-content-end w-100 gap-3 action-btns">
    <button
          type="button"
          (click)="Signup()"
          class="btn text-white bg-midnight-moss rounded font-poppins-semi fs-8 py-2 px-5 text-nowrap">
          Save changes
        </button>
    </div>
  </div>
</div>