<form class="row" action="" [formGroup]="addressForm">
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Name of Description</p>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        name="nameOfDescription"
        [formControlName]="'nameOfDescription'"
      />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Country</p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select name="country" [formControlName]="'country'" (valueChange)="changeCountry()">
        <mat-option *ngFor="let country of this.userInfoService.countryRegions" [value]="country">{{country.name}}</mat-option>
      </mat-select>
      <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>City</p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select name="city" [formControlName]="'city'">
        <mat-option *ngFor="let city of this.userInfoService.cities" [value]="city">{{city.name}}</mat-option>
      </mat-select>
      <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Street</p>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput name="street" [formControlName]="'street'" />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Zip/Postal Code</p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select name="zipCode" [formControlName]="'zipCode'">
        <mat-option value="0514">0514</mat-option>
        <mat-option value="8574">8574</mat-option>
      </mat-select>
      <img matSuffix src="assets/SVG/chevron-down.svg" alt="" />
    </mat-form-field>
  </div>
  <div class="d-flex flex-column col-lg-6 col-12">
    <p>Post Box</p>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput name="postBox" [formControlName]="'postBox'" />
    </mat-form-field>
  </div>
  <div
    class="d-flex align-items-center justify-content-end w-100 gap-2 action-btns"
  >
    <button
      type="button"
      class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
      (click)="Discard()"
    >
      Discard
    </button>
    <button
      type="button"
      class="btn border-color-midnight-moss text-midnight-moss rounded font-poppins-medium fs-8"
      (click)="CloseAddressNav()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn bg-midnight-moss border-color-midnight-moss text-white rounded font-poppins-semi fs-8 text-nowrap"
      (click)="SaveIdentification()"
    >
      Save
    </button>
  </div>
</form>
