@import "../../../styles/variables-saas";

.main-container {
  .identification-item-container {
    margin-bottom: 1.25rem;
    gap: 1.75rem;
    .identification-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 0.813rem;
      padding-inline: 1rem;
      background-color: $white-smoke;
    }
  }
  .add-identification {
    padding-block: 0.75rem;
  }
}
